#--------------------------------------------#
# Senate Electronic Timesheets Configuration #
#--------------------------------------------#

# Runtime level (dev/test/prod)
runtime.level = dev

# LDAP Configuration
ldap.url = ldap://webmail.senate.state.ny.us:389
ldap.dn.template = CN={0},O=senate

# Number of bytes generated for XSRF token
xsrf.token.bytes = 128

# --- Database Configuration --------------------------------------------------

# Local Postgres Database
db.local.driver = org.postgresql.Driver
db.local.type = postgresql:
db.local.host = localhost
db.local.name = ess
db.local.user =
db.local.pass =

# Remote Oracle Database
db.remote.driver = oracle.jdbc.OracleDriver
db.remote.type = oracle:thin:@
db.remote.host = nysdbdev
db.remote.name = dev
db.remote.user =
db.remote.pass =

# --- Eh Cache Configuration --------------------------------------------------

# The amount of memory to allocate to Eh Cache for all heap based caches (in MB).
# This value cannot exceed the maximum jvm heap size or the application will fail
# to startup. (Recommended: 600)
cache.max.size = 600

# --- URL Configuration -------------------------------------------------------

# The url path to be used for accessing resources (css/js)
resource.path = /assets/**

# The directory in which the actual css/js subdirectories are contained
resource.location = /assets/

# Url Details

login.url = /login
login.success.url = /record/entry