
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
/** Color Palette */
/** Loading sprites */
.loading-colors {
  background: url('/timesheets/assets/img/loading.GIF');
  background-repeat: no-repeat;
}
/** Fonts */
.open-sans {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.font-weight-light {
  font-weight: 300;
}
.font-weight-normal {
  font-weight: 400;
}
.font-weight-bold {
  font-weight: 600;
}
table.ess-table {
  width: 100%;
}
table.ess-table thead tr {
  background: #2f8697;
  color: white;
  border-bottom: 1px solid #006b80;
  font-size: .9em;
}
table.ess-table thead tr th {
  padding: 5px 5px;
}
table.ess-table.no-focus tbody tr:hover {
  background: #cff09e;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
table.ess-table tbody tr {
  border-bottom: 1px solid #bbb;
}
table.ess-table tbody tr td {
  text-align: center;
}
table.ess-table tbody tr.active {
  background: #DAE5EE;
}
table.ess-table tbody tr.active td:nth-child(1) {
  border-left: 3px solid #006b80;
}
/** Media Queries */
/** Login Page
----------------*/
.folded-top {
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
.unfold-top {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.login-container {
  position: absolute;
  font-size: 13px;
  top: -20px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 780px;
  height: 322px;
  margin: auto;
  background: #fdfdfd;
  border-bottom: 4px solid #006b80;
  -webkit-box-shadow: 0px 0px 20px #d1d1d1;
  -moz-box-shadow: 0px 0px 20px #d1d1d1;
  box-shadow: 0px 0px 20px #d1d1d1;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
}
.login-container #loginHeader {
  background: #006b80;
  color: white;
  font-size: 1.2em;
  text-align: center;
  height: 48px;
  line-height: 48px;
}
.login-container #loginHeader p {
  margin: 0;
}
.login-container .login-message {
  font-size: 1.2em;
  font-weight: 400;
  color: #333;
  text-align: center;
  position: absolute;
  top: -50px;
  margin: auto;
  width: 100%;
  background: #FFFEF5;
  padding: 10px;
}
.login-container .login-info-container,
.login-container .login-form-container {
  height: 100%;
}
.login-container .login-info-container {
  float: left;
  width: 400px;
}
.login-container .login-form-container {
  display: inline-block;
  padding: 10px 0 20px 40px;
}
.login-container .login-form-container .login-error-container {
  position: absolute;
  bottom: 12px;
  right: 0;
  color: #B90504;
  width: 380px;
  min-height: 40px;
  line-height: 40px;
  padding-left: 40px;
  opacity: 0;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.login-container .login-form-container .login-error-container.show-error {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.login-container .login-form-container form ul,
.login-container .login-form-container .additional-view ul {
  padding: 0;
  list-style: none;
  width: 320px;
  margin-top: 30px;
  opacity: 1;
}
.login-container .login-form-container form ul.hide-view,
.login-container .login-form-container .additional-view ul.hide-view {
  display: none;
}
.login-container .login-form-container form ul li,
.login-container .login-form-container .additional-view ul li {
  margin-bottom: 5px;
}
.login-container .login-form-container form ul li.shift-down-slightly,
.login-container .login-form-container .additional-view ul li.shift-down-slightly {
  margin-top: 15px;
}
.login-container .login-form-container form ul li.shift-right,
.login-container .login-form-container .additional-view ul li.shift-right {
  margin-left: 10px;
}
.login-container .login-form-container form ul li input[type="text"],
.login-container .login-form-container .additional-view ul li input[type="text"],
.login-container .login-form-container form ul li input[type="password"],
.login-container .login-form-container .additional-view ul li input[type="password"] {
  width: 280px;
}
.login-container .login-form-container form ul li .login-action-container,
.login-container .login-form-container .additional-view ul li .login-action-container {
  float: right;
  margin-right: 40px;
}
.login-container .login-form-container form ul li button[type="submit"],
.login-container .login-form-container .additional-view ul li button[type="submit"],
.login-container .login-form-container form ul li button[type="reset"],
.login-container .login-form-container .additional-view ul li button[type="reset"] {
  width: 120px;
}
.login-container .login-form-container form ul li button[type="submit"]:hover,
.login-container .login-form-container .additional-view ul li button[type="submit"]:hover,
.login-container .login-form-container form ul li button[type="reset"]:hover,
.login-container .login-form-container .additional-view ul li button[type="reset"]:hover {
  color: teal;
}
.login-container .login-form-container form ul li a,
.login-container .login-form-container .additional-view ul li a {
  font-size: 1em;
  color: #777;
}
.login-container .login-form-container form ul li a:hover,
.login-container .login-form-container .additional-view ul li a:hover {
  color: teal !important;
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.login-container .login-form-container form ul li a.subtle-link,
.login-container .login-form-container .additional-view ul li a.subtle-link {
  font-size: .9em;
  color: #999;
  line-height: 2em;
}
.login-container .login-form-container form ul li .heading-span,
.login-container .login-form-container .additional-view ul li .heading-span {
  font-weight: 400;
  font-size: 1.2em;
  color: #006b80;
}
.login-container .login-form-container form ul li hr,
.login-container .login-form-container .additional-view ul li hr {
  width: 280px;
  margin-left: 0;
  text-align: left;
  margin-bottom: 10px;
}
.login-container .login-form-container .login-loader {
  background: url('/timesheets/assets/img/loading.GIF');
  background-repeat: no-repeat;
  background-position-y: 2px;
}
.login-container .login-form-container .login-loader span {
  color: #006b80;
  padding-left: 20px;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
/*! main */
/** Color Palette */
/** Loading sprites */
.loading-colors {
  background: url('/timesheets/assets/img/loading.GIF');
  background-repeat: no-repeat;
}
/** Fonts */
.open-sans {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.font-weight-light {
  font-weight: 300;
}
.font-weight-normal {
  font-weight: 400;
}
.font-weight-bold {
  font-weight: 600;
}
table.ess-table {
  width: 100%;
}
table.ess-table thead tr {
  background: #2f8697;
  color: white;
  border-bottom: 1px solid #006b80;
  font-size: .9em;
}
table.ess-table thead tr th {
  padding: 5px 5px;
}
table.ess-table.no-focus tbody tr:hover {
  background: #cff09e;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
table.ess-table tbody tr {
  border-bottom: 1px solid #bbb;
}
table.ess-table tbody tr td {
  text-align: center;
}
table.ess-table tbody tr.active {
  background: #DAE5EE;
}
table.ess-table tbody tr.active td:nth-child(1) {
  border-left: 3px solid #006b80;
}
/** Media Queries */
/** Sizes */
.highlight-eee {
  background: #eee;
  cursor: pointer;
}
/** Defaults */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  background: #fafafa;
}
a:hover,
a:active,
a:focus {
  outline: 0 !important;
  border: none;
}
ul {
  list-style: none;
}
label {
  color: #111;
  font-weight: 300;
}
input[type="text"],
input[type="password"] {
  border: 1px solid #ccc;
  outline: 0;
  background: #fafafa;
  padding: 2px;
}
input[type="text"].error,
input[type="password"].error {
  border-color: #b90504;
}
input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #999;
}
/** Remove the number spinners in chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
h1,
h2 {
  font-weight: 400;
}
hr {
  outline: 0;
  border-width: 1px;
  border-color: #ccc;
  border-style: solid none none none;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.clearfix {
  clear: both;
}
button {
  border: 1px solid #aaa;
  background: #eee;
  -webkit-box-shadow: 0px 0px 1px #dddddd;
  -moz-box-shadow: 0px 0px 1px #dddddd;
  box-shadow: 0px 0px 1px #dddddd;
  padding: 2px;
}
button:hover {
  background: #f9f9f9;
  -webkit-box-shadow: 0px 0px 2px #ffffff;
  -moz-box-shadow: 0px 0px 2px #ffffff;
  box-shadow: 0px 0px 2px #ffffff;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/** Header Tags */
h1 {
  color: #333;
}
.bold-text {
  padding: 10px;
  margin: 0;
  font-weight: 600;
}
.info-text {
  background: #006b80;
  color: white;
  padding: 10px;
  margin: 0;
  font-weight: 600;
}
.warning-text {
  background: #d19525;
  color: white;
  padding: 10px;
  margin: 0;
  font-weight: 600;
}
.error-text {
  background: #b90504;
  color: white;
  padding: 10px;
  margin: 0;
  font-weight: 600;
}
.success-text {
  background: #808d0a;
  color: white;
  padding: 10px;
  margin: 0;
  font-weight: 600;
}
#wrapper {
  background: #ddd;
}
/** Home Page
---------------*/
.ess-top-header {
  position: fixed;
  width: 100%;
  background: #3d3d3d;
  border-bottom: 1px solid #222;
  height: 50px;
  z-index: 100;
  color: white;
  overflow: hidden;
}
.ess-top-header .left-header-area {
  display: inline-block;
}
.ess-top-header .left-header-area .nysslogo {
  background: url('/timesheets/assets/img/nysslogo.png');
  height: 35px;
  width: 35px;
  background-size: 35px;
  background-repeat: no-repeat;
  float: left;
  margin-top: 8px;
  margin-left: 10px;
}
.ess-top-header .left-header-area #logoTextSection {
  padding: 0;
  margin-top: 0px;
  display: inline-block;
}
.ess-top-header .left-header-area #logoTextSection #logoText {
  font-weight: 300;
  font-size: 1.6em;
  line-height: 50px;
  margin-left: 10px;
}
.ess-top-header .left-header-area #logoTextSection #logoText #subLogoText {
  font-weight: 400;
}
.ess-top-header .right-header-area {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  right: 0;
}
.ess-top-header .right-header-area #profileSection {
  float: left;
  min-width: 220px;
  padding: 4px 5px 0px 5px;
  line-height: 43px;
}
.ess-top-header .right-header-area #profileSection:hover {
  background: #3f3f3f;
}
.ess-top-header .right-header-area #profileSection #headerProfileSquare {
  width: 40px;
  height: 40px;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  background-color: #555;
  padding: 6px 0px 0px 3px;
  float: left;
}
.ess-top-header .right-header-area #profileSection #headerProfileSquare #headerProfileImg {
  background: url('/timesheets/assets/img/user.png');
  height: 35px;
  width: 35px;
  background-size: 35px;
  background-repeat: no-repeat;
}
.ess-top-header .right-header-area #profileSection #headerProfileName {
  font-size: 1em;
  margin-left: 10px;
}
.ess-top-header .right-header-area #logoutSection {
  float: left;
  font-size: 1.1em;
  width: 120px;
  border-left: 1px solid #222;
}
.ess-top-header .right-header-area #logoutSection:hover {
  background: #4c4c4c;
}
.ess-top-header .right-header-area #logoutSection:hover a .logout-icon {
  -webkit-transform: rotateY(-40deg);
  -moz-transform: rotateY(-40deg);
  -o-transform: rotateY(-40deg);
  -ms-transform: rotateY(-40deg);
  transform: rotateY(-40deg);
}
.ess-top-header .right-header-area #logoutSection a {
  padding: 15px;
  display: block;
  text-decoration: none !important;
  color: white;
}
.ess-top-header .right-header-area #logoutSection a .logout-icon {
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-right: 5px;
  float: left;
  background: url('../../img/logout.png');
  height: 20px;
  width: 20px;
  background-size: 20px;
  background-repeat: no-repeat;
}
#topNavList {
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}
#topNavList li {
  display: inline;
  line-height: 50px;
  padding: 10px 20px;
  margin-right: 7px;
  cursor: pointer;
}
#topNavList li.active {
  font-weight: 600;
}
#topNavList li .nav-icon {
  margin-right: 5px;
  vertical-align: middle;
  height: 16px;
  position: relative;
  top: -1px;
}
#topNavList li#dashboardLink {
  border-bottom: 1px solid #d19525;
}
#topNavList li#dashboardLink:hover {
  background: rgba(209, 149, 37, 0.4);
}
#topNavList li#timeAttendanceLink {
  border-bottom: 1px solid #4196a7;
}
#topNavList li#timeAttendanceLink:hover {
  background: rgba(65, 150, 167, 0.4);
}
#topNavList li#payrollLink {
  border-bottom: 1px solid #799933;
}
#topNavList li#payrollLink:hover {
  background: rgba(121, 153, 51, 0.4);
}
#topNavList li#helpLink {
  border-bottom: 1px solid #aaa;
}
#topNavList li#helpLink:hover {
  background: rgba(170, 170, 170, 0.4);
}
#topNavList li a {
  font-size: 1.1em;
}
/** Profile Square */
/** Left Navigation
--------------------- */
.left-nav {
  background: #f1f1f1;
  width: 250px;
  position: fixed;
  height: 100%;
}
.left-nav .main-topic {
  color: #333;
  margin-left: 20px;
  width: 200px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}
.left-nav ul {
  padding: 0;
  margin: 0;
}
.left-nav li {
  padding: 5px 5px 5px 20px;
}
.left-nav a {
  color: teal;
  text-decoration: none;
}
.left-nav a:hover {
  color: #012B48;
}
#leftNav {
  display: none;
  position: fixed;
  top: 40px;
  height: 100%;
  padding-top: 20px;
  margin-right: 20px;
  width: 225px;
  background: #333;
}
#leftNav #mainNavList {
  padding: 0;
  margin: 0;
}
#leftNav #mainNavList li.main-topic {
  color: white;
  font-weight: 300;
  font-size: 1.2em;
  margin: 0;
  padding: 10px 0;
  cursor: pointer;
}
#leftNav #mainNavList li.main-topic#timeAttendanceLink .nav-icon {
  background: url('../../img/20px-ffffff/clock.png');
  float: left;
  height: 15px;
  width: 15px;
  background-size: 15px;
  background-repeat: no-repeat;
  margin: 3px 7px 0px 5px;
}
#leftNav #mainNavList li.main-topic#dashboardLink .nav-icon {
  background: url('../../img/20px-ffffff/house.png');
  float: left;
  height: 15px;
  width: 15px;
  background-size: 15px;
  background-repeat: no-repeat;
  margin: 3px 7px 0px 5px;
}
#leftNav #mainNavList li.main-topic#productivityLink .nav-icon {
  background: url('../../img/20px-ffffff/gauge.png');
  float: left;
  height: 15px;
  width: 15px;
  background-size: 15px;
  background-repeat: no-repeat;
  margin: 3px 7px 0px 5px;
}
#leftNav #mainNavList li.main-topic#helpLink .nav-icon {
  background: url('../../img/20px-ffffff/question.png');
  float: left;
  height: 15px;
  width: 15px;
  background-size: 15px;
  background-repeat: no-repeat;
  margin: 3px 7px 0px 5px;
}
#leftNav #mainNavList li.main-topic:hover {
  background: #555;
}
#leftNav #mainNavList li.main-topic.active {
  border-bottom: 1px solid #555;
  background: #00809a;
}
#leftNav #mainNavList li .sub-topic-list {
  padding: 0;
  display: none;
  cursor: pointer;
  margin-top: 5px;
}
#leftNav #mainNavList li .sub-topic-list .sub-topic a {
  padding-left: 30px;
  text-decoration: none;
  line-height: 40px;
  display: block;
  font-weight: 600;
  font-size: 1.0em;
  color: #bbb;
}
#leftNav #mainNavList li .sub-topic-list .sub-topic:hover {
  background: #444;
}
#leftNav #mainNavList li .sub-topic-list .sub-topic:hover a {
  color: white;
}
#leftNav #mainNavList li .sub-topic-list .sub-topic.active {
  border-left: 5px solid #00809a;
  font-weight: 600;
}
#leftNav #mainNavList li .sub-topic-list .sub-topic.active a {
  color: white;
  padding-left: 26px;
}
#leftNav #mainNavList li .sub-topic-list.active {
  display: block;
}
.content-wrapper {
  padding-top: 50px;
  padding-bottom: 40px;
  background: #fafafa;
  width: 1150px;
  margin: auto;
}
.section-title-container,
.bread-crumb-container {
  color: #eee;
  font-size: 1.1em;
  margin: 0;
  padding: 10px 15px;
}
.section-title-container.teal,
.bread-crumb-container.teal {
  background: #006b80;
}
.section-title-container {
  position: fixed;
  width: 250px;
  font-weight: 600;
}
.section-title-container.teal {
  background: #005667;
}
.bread-crumb-container {
  margin-left: 250px;
}
.content-container {
  margin: 20px 0 0 260px;
  width: 840px;
  background: #fefefe;
  position: relative;
  -webkit-box-shadow: 0px 1px 10px #eeeeee;
  -moz-box-shadow: 0px 1px 10px #eeeeee;
  box-shadow: 0px 1px 10px #eeeeee;
}
.content-container h1 {
  font-size: 1.3em;
  margin: 0;
  text-align: center;
  padding: 5px 10px;
  border-width: 2px;
  border-style: none none solid none;
  border-color: #006b80;
  color: #333;
  line-height: 30px;
}
.content-container h1.olive {
  border-color: #799933;
}
.content-container h1.orange {
  border-color: #d19525;
}
.content-container.dual {
  overflow: hidden;
}
.content-container.dual div.left-container,
.content-container.dual section.left-container,
.content-container.dual div.right-container,
.content-container.dual section.right-container {
  float: left;
  width: 400px;
  padding-bottom: 10px;
}
.content-container.dual div.left-container h1,
.content-container.dual section.left-container h1 {
  border-bottom: 4px solid #d19525;
}
.content-container.dual div.right-container h1,
.content-container.dual section.right-container h1 {
  border-bottom: 4px solid #808d0a;
}
/** Time Record Entry Page
-----------------------------*/
table#timeRecordTable thead tr th {
  width: 65px;
}
table#timeRecordTable tbody tr {
  height: 35px;
}
table#timeRecordTable tbody tr.time-record-row td:nth-child(1) {
  width: 150px;
  border-right: 1px solid #ccc;
}
table#timeRecordTable tbody tr.time-totals-row td:first-child {
  font-weight: 600;
}
table#timeRecordTable tbody tr.time-totals-row td:last-child {
  background: #006b80;
  color: white;
  font-size: 1.1em;
  font-weight: 600;
}
table#timeRecordTable tbody tr.weekend {
  background: #f0f0f0;
}
table#timeRecordTable tbody tr td {
  text-align: center;
  border-right: 1px solid #dedede;
}
table#timeRecordTable tbody tr td input[type="text"],
table#timeRecordTable tbody tr td input[type="number"] {
  width: 55px;
  height: 35px;
  font-size: 1.1em;
  text-align: center;
  border: 0;
  background: none;
}
table#timeRecordTable tbody tr td.today {
  border-left: 3px solid #799933;
}
#payPeriodListContainer {
  text-align: center;
  padding-bottom: 10px;
}
#payPeriodListContainer table {
  text-align: center;
  width: 90%;
  margin: auto;
}
#payPeriodListContainer table tr.active {
  background: #e7e9f6;
}
#payPeriodListContainer table th {
  border-bottom: 1px solid #ccc;
}
#payPeriodListContainer table th,
#payPeriodListContainer table td {
  padding: 5px;
}
#hourlyAccrualContainer {
  width: 650px;
  margin: auto;
  text-align: center;
  padding-bottom: 10px;
}
#accrualsListing div.accrual-component {
  float: left;
  text-align: center;
}
#accrualsListing div.accrual-component .captioned-hour-square {
  width: 105px;
  height: 40px;
  margin: 5px auto;
  padding: 0 10px;
}
#accrualsListing div.accrual-component .captioned-hour-square .hours-caption {
  font-size: 1em;
  border-bottom: 1px solid #bbb;
  line-height: 17px;
}
#accrualsListing div.accrual-component .captioned-hour-square .hours-display {
  font-size: 1.2em;
  line-height: 30px;
  font-weight: 600;
  color: #0e4e5a;
}
#accrualsListing div.accrual-component .hour-label {
  color: #333;
  padding: 0px;
  margin: 10px auto;
  font-size: 1em;
  font-weight: 400;
}
#accrualsListing div.accrual-component:nth-child(1),
#accrualsListing div.accrual-component:nth-child(2),
#accrualsListing div.accrual-component:nth-child(3) {
  width: 15%;
}
#accrualsListing div.accrual-component:nth-child(4) {
  width: 55%;
}
#remarksRecordContainer {
  float: left;
}
#remarksRecordContainer label {
  font-weight: 600;
  margin: 0 10px 0 10px;
  line-height: 55px;
}
#remarksRecordContainer #remarksTextArea {
  margin: 5px 0;
  height: 45px;
  width: 450px;
  border: 1px solid #ccc;
}
#saveRecordContainer {
  padding: 10px;
  background: #f9f9f9;
}
#saveRecordContainer input[type="button"] {
  margin-top: 10px;
  width: 230px;
  padding: 5px 10px;
  background: #799933;
  color: white;
  font-weight: 600;
  border-style: none none solid none;
  border-bottom: 3px solid #5b7326;
}
#saveRecordContainer input[type="button"].inactive {
  background: none;
  color: #333;
}
#saveRecordContainer input[type="button"].inactive:hover {
  background: #eee;
}
#saveRecordContainer input[type="button"]:hover {
  background: #81ad1f;
}
.view-animate.ng-enter,
.view-animate.ng-leave {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s;
}
.view-animate.ng-enter {
  opacity: 0;
}
.view-animate.ng-enter.ng-enter-active {
  opacity: 1;
}
.view-animate.ng-leave.ng-leave-active {
  display: none;
}
