
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
/** Color Palette */
/** Loading sprites */
.loading-colors {
  background: url('/timesheets/assets/img/loading.GIF');
  background-repeat: no-repeat;
}
/** Fonts */
.open-sans {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.font-weight-light {
  font-weight: 300;
}
.font-weight-normal {
  font-weight: 400;
}
.font-weight-bold {
  font-weight: 600;
}
table.ess-table {
  width: 100%;
}
table.ess-table thead tr {
  color: #333;
  font-size: .9em;
  border-bottom: 1px solid #155C69;
}
table.ess-table thead tr th {
  padding: 10px 5px;
}
table.ess-table.no-focus tbody tr:hover {
  background: #cff09e;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
table.ess-table tbody tr {
  border-top: 1px solid transparent;
  border-bottom: 1px solid #bbb;
}
table.ess-table tbody tr td {
  text-align: center;
}
table.ess-table tbody tr.active {
  background: #DAE5EE;
}
table.ess-table tbody tr.active td:nth-child(1) {
  border-left: 3px solid #006b80;
}
/** JQuery UI css */
/*!
* jQuery UI Button 1.10.4
* http://jqueryui.com
*
* Copyright 2014 jQuery Foundation and other contributors
* Released under the MIT license.
* http://jquery.org/license
*
* http://api.jqueryui.com/button/#theming
*/
/*!
 * Style sheet modified for ESS
 */
.ui-button {
  display: inline-block;
  position: relative;
  padding: 0;
  line-height: normal;
  margin-right: .1em;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  overflow: visible;
  /* removes extra width in IE */
}
.ui-button,
.ui-button:link,
.ui-button:visited,
.ui-button:hover,
.ui-button:active {
  text-decoration: none;
}
/* to make room for the icon, a width needs to be set here */
.ui-button-icon-only {
  width: 2.2em;
}
/* button elements seem to need a little more width */
button.ui-button-icon-only {
  width: 2.4em;
}
.ui-button-icons-only {
  width: 3.4em;
}
button.ui-button-icons-only {
  width: 3.7em;
}
/* button text element */
.ui-button .ui-button-text {
  display: block;
  line-height: normal;
  color: #444;
  font-weight: normal;
}
.ui-button-text-only .ui-button-text {
  padding: .4em 1em;
}
.ui-button-icon-only .ui-button-text,
.ui-button-icons-only .ui-button-text {
  padding: .4em;
  text-indent: -9999999px;
}
.ui-button-text-icon-primary .ui-button-text,
.ui-button-text-icons .ui-button-text {
  padding: .4em 1em .4em 2.1em;
}
.ui-button-text-icon-secondary .ui-button-text,
.ui-button-text-icons .ui-button-text {
  padding: .4em 2.1em .4em 1em;
}
.ui-button-text-icons .ui-button-text {
  padding-left: 2.1em;
  padding-right: 2.1em;
}
/* no icon support for input elements, provide padding by default */
input.ui-button {
  padding: .4em 1em;
}
/* button icon element(s) */
.ui-button-icon-only .ui-icon,
.ui-button-text-icon-primary .ui-icon,
.ui-button-text-icon-secondary .ui-icon,
.ui-button-text-icons .ui-icon,
.ui-button-icons-only .ui-icon {
  position: absolute;
  top: 50%;
  margin-top: -8px;
}
.ui-button-icon-only .ui-icon {
  left: 50%;
  margin-left: -8px;
}
.ui-button-text-icon-primary .ui-button-icon-primary,
.ui-button-text-icons .ui-button-icon-primary,
.ui-button-icons-only .ui-button-icon-primary {
  left: .5em;
}
.ui-button-text-icon-secondary .ui-button-icon-secondary,
.ui-button-text-icons .ui-button-icon-secondary,
.ui-button-icons-only .ui-button-icon-secondary {
  right: .5em;
}
/* button sets */
.ui-buttonset {
  margin-right: 7px;
}
.ui-buttonset .ui-button {
  margin-left: 0;
  margin-right: -0.3em;
  font-weight: normal;
  border: 1px solid #999;
}
.ui-buttonset .ui-button.ui-state-hover .ui-button-text,
.ui-buttonset .ui-button.ui-state-active .ui-button-text {
  color: teal;
}
.ui-buttonset .ui-button.ui-state-active {
  background: #eee;
}
/* workarounds */
/* reset extra padding in Firefox, see h5bp.com/l */
input.ui-button::-moz-focus-inner,
button.ui-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*!
 * jQuery UI Datepicker 1.10.4
 * http://jqueryui.com
 *
 * Copyright 2014 jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://api.jqueryui.com/datepicker/#theming
 */
/*
 * Style sheet modified for ESS
 */
.ui-datepicker {
  width: 17em;
  padding: .2em .2em 0;
  display: none;
  background: white;
  opacity: 0.95;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -moz-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
}
.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
  top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
  left: 2px;
}
.ui-datepicker .ui-datepicker-next {
  right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
  left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
  right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 49%;
}
.ui-datepicker table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 .4em;
}
.ui-datepicker th {
  padding: .7em .3em;
  text-align: center;
  font-weight: bold;
  border: 0;
}
.ui-datepicker td {
  border: 0;
  padding: 1px;
  text-align: center;
}
.ui-datepicker td.ui-datepicker-current-day {
  background: #edf7a4;
}
.ui-datepicker td span,
.ui-datepicker td a {
  display: block;
  padding: .2em;
  text-decoration: none;
  color: #006b80;
}
.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: auto;
  overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}
/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
  width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
  float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left;
}
.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0;
}
/* RTL support */
.ui-datepicker-rtl {
  direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
  float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}
/*!
 * jQuery UI Dialog 1.10.4
 * http://jqueryui.com
 *
 * Copyright 2014 jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://api.jqueryui.com/dialog/#theming
 */
.ui-dialog {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  outline: 0;
  border: 1px solid #999;
  background: white;
  -webkit-box-shadow: 0 0 60px #777777;
  -moz-box-shadow: 0 0 60px #777777;
  box-shadow: 0 0 60px #777777;
}
.ui-dialog .ui-dialog-titlebar {
  padding: .7em 1em;
  position: relative;
  text-align: center;
  border-bottom: 1px solid teal;
  background: #006b80;
  color: white;
}
.ui-dialog .ui-dialog-title {
  font-size: 1.1em;
  margin: .1em 0;
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}
.ui-dialog .ui-dialog-titlebar-close {
  position: absolute;
  right: .3em;
  top: 50%;
  margin: -10px 0 0 0;
  padding: 1px;
  background: url('/timesheets/assets/img/20px-ffffff/cross.png');
  height: 20px;
  width: 20px;
  background-size: 20px;
  background-repeat: no-repeat;
  cursor: pointer;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.ui-dialog .ui-dialog-titlebar-close:hover {
  background-color: #ff5544;
}
.ui-dialog .ui-dialog-content {
  position: relative;
  border: 0;
  padding: 0;
  background: none;
  overflow: auto;
}
.ui-dialog .ui-dialog-buttonpane {
  text-align: left;
  border-width: 1px 0 0 0;
  background-image: none;
  padding: .3em 1em .5em .4em;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: right;
}
.ui-dialog .ui-dialog-buttonpane button {
  margin: .5em .4em .5em 0;
  cursor: pointer;
}
.ui-dialog .ui-resizable-se {
  width: 12px;
  height: 12px;
  right: -5px;
  bottom: -5px;
  background-position: 16px 16px;
}
.ui-draggable .ui-dialog-titlebar {
  cursor: move;
}
/*!
 * jQuery UI Resizable 1.10.4
 * http://jqueryui.com
 *
 * Copyright 2014 jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 */
.ui-resizable {
  position: relative;
}
.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}
.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0;
}
.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0;
}
.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%;
}
.ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%;
}
.ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}
.ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}
.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}
.ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}
/** Media Queries */
/** Login Page
----------------*/
.folded-top {
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
.unfold-top {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.login-container {
  position: absolute;
  font-size: 13px;
  top: -20px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 780px;
  height: 322px;
  margin: auto;
  background: #fdfdfd;
  border-bottom: 4px solid #006b80;
  -webkit-box-shadow: 0px 0px 20px #d1d1d1;
  -moz-box-shadow: 0px 0px 20px #d1d1d1;
  box-shadow: 0px 0px 20px #d1d1d1;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
}
.login-container #loginHeader {
  background: #006b80;
  color: white;
  font-size: 1.2em;
  text-align: center;
  height: 48px;
  line-height: 48px;
}
.login-container #loginHeader p {
  margin: 0;
}
.login-container .login-message {
  font-size: 1.2em;
  font-weight: 400;
  color: #333;
  text-align: center;
  position: absolute;
  top: -50px;
  margin: auto;
  width: 100%;
  background: #FFFEF5;
  padding: 10px;
}
.login-container .login-info-container,
.login-container .login-form-container {
  height: 100%;
}
.login-container .login-info-container {
  float: left;
  width: 400px;
}
.login-container .login-form-container {
  display: inline-block;
  padding: 10px 0 20px 40px;
}
.login-container .login-form-container .login-error-container {
  position: absolute;
  bottom: 12px;
  right: 0;
  color: #B90504;
  width: 380px;
  min-height: 40px;
  line-height: 40px;
  padding-left: 40px;
  opacity: 0;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.login-container .login-form-container .login-error-container.show-error {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.login-container .login-form-container form ul,
.login-container .login-form-container .additional-view ul {
  padding: 0;
  list-style: none;
  width: 320px;
  margin-top: 30px;
  opacity: 1;
}
.login-container .login-form-container form ul.hide-view,
.login-container .login-form-container .additional-view ul.hide-view {
  display: none;
}
.login-container .login-form-container form ul li,
.login-container .login-form-container .additional-view ul li {
  margin-bottom: 5px;
}
.login-container .login-form-container form ul li.shift-down-slightly,
.login-container .login-form-container .additional-view ul li.shift-down-slightly {
  margin-top: 15px;
}
.login-container .login-form-container form ul li.shift-right,
.login-container .login-form-container .additional-view ul li.shift-right {
  margin-left: 10px;
}
.login-container .login-form-container form ul li input[type="text"],
.login-container .login-form-container .additional-view ul li input[type="text"],
.login-container .login-form-container form ul li input[type="password"],
.login-container .login-form-container .additional-view ul li input[type="password"] {
  width: 280px;
}
.login-container .login-form-container form ul li .login-action-container,
.login-container .login-form-container .additional-view ul li .login-action-container {
  float: right;
  margin-right: 40px;
}
.login-container .login-form-container form ul li button[type="submit"],
.login-container .login-form-container .additional-view ul li button[type="submit"],
.login-container .login-form-container form ul li button[type="reset"],
.login-container .login-form-container .additional-view ul li button[type="reset"] {
  width: 120px;
}
.login-container .login-form-container form ul li button[type="submit"]:hover,
.login-container .login-form-container .additional-view ul li button[type="submit"]:hover,
.login-container .login-form-container form ul li button[type="reset"]:hover,
.login-container .login-form-container .additional-view ul li button[type="reset"]:hover {
  color: teal;
}
.login-container .login-form-container form ul li a,
.login-container .login-form-container .additional-view ul li a {
  font-size: 1em;
  color: #777;
}
.login-container .login-form-container form ul li a:hover,
.login-container .login-form-container .additional-view ul li a:hover {
  color: teal !important;
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.login-container .login-form-container form ul li a.subtle-link,
.login-container .login-form-container .additional-view ul li a.subtle-link {
  font-size: .9em;
  color: #999;
  line-height: 2em;
}
.login-container .login-form-container form ul li .heading-span,
.login-container .login-form-container .additional-view ul li .heading-span {
  font-weight: 400;
  font-size: 1.2em;
  color: #006b80;
}
.login-container .login-form-container form ul li hr,
.login-container .login-form-container .additional-view ul li hr {
  width: 280px;
  margin-left: 0;
  text-align: left;
  margin-bottom: 10px;
}
.login-container .login-form-container .login-loader {
  background: url('/timesheets/assets/img/loading.GIF');
  background-repeat: no-repeat;
  background-position-y: 2px;
}
.login-container .login-form-container .login-loader span {
  color: #006b80;
  padding-left: 20px;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
/*! main */
/** Color Palette */
/** Loading sprites */
.loading-colors {
  background: url('/timesheets/assets/img/loading.GIF');
  background-repeat: no-repeat;
}
/** Fonts */
.open-sans {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.font-weight-light {
  font-weight: 300;
}
.font-weight-normal {
  font-weight: 400;
}
.font-weight-bold {
  font-weight: 600;
}
table.ess-table {
  width: 100%;
}
table.ess-table thead tr {
  color: #333;
  font-size: .9em;
  border-bottom: 1px solid #155C69;
}
table.ess-table thead tr th {
  padding: 10px 5px;
}
table.ess-table.no-focus tbody tr:hover {
  background: #cff09e;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
table.ess-table tbody tr {
  border-top: 1px solid transparent;
  border-bottom: 1px solid #bbb;
}
table.ess-table tbody tr td {
  text-align: center;
}
table.ess-table tbody tr.active {
  background: #DAE5EE;
}
table.ess-table tbody tr.active td:nth-child(1) {
  border-left: 3px solid #006b80;
}
/** JQuery UI css */
/*!
* jQuery UI Button 1.10.4
* http://jqueryui.com
*
* Copyright 2014 jQuery Foundation and other contributors
* Released under the MIT license.
* http://jquery.org/license
*
* http://api.jqueryui.com/button/#theming
*/
/*!
 * Style sheet modified for ESS
 */
.ui-button {
  display: inline-block;
  position: relative;
  padding: 0;
  line-height: normal;
  margin-right: .1em;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  overflow: visible;
  /* removes extra width in IE */
}
.ui-button,
.ui-button:link,
.ui-button:visited,
.ui-button:hover,
.ui-button:active {
  text-decoration: none;
}
/* to make room for the icon, a width needs to be set here */
.ui-button-icon-only {
  width: 2.2em;
}
/* button elements seem to need a little more width */
button.ui-button-icon-only {
  width: 2.4em;
}
.ui-button-icons-only {
  width: 3.4em;
}
button.ui-button-icons-only {
  width: 3.7em;
}
/* button text element */
.ui-button .ui-button-text {
  display: block;
  line-height: normal;
  color: #444;
  font-weight: normal;
}
.ui-button-text-only .ui-button-text {
  padding: .4em 1em;
}
.ui-button-icon-only .ui-button-text,
.ui-button-icons-only .ui-button-text {
  padding: .4em;
  text-indent: -9999999px;
}
.ui-button-text-icon-primary .ui-button-text,
.ui-button-text-icons .ui-button-text {
  padding: .4em 1em .4em 2.1em;
}
.ui-button-text-icon-secondary .ui-button-text,
.ui-button-text-icons .ui-button-text {
  padding: .4em 2.1em .4em 1em;
}
.ui-button-text-icons .ui-button-text {
  padding-left: 2.1em;
  padding-right: 2.1em;
}
/* no icon support for input elements, provide padding by default */
input.ui-button {
  padding: .4em 1em;
}
/* button icon element(s) */
.ui-button-icon-only .ui-icon,
.ui-button-text-icon-primary .ui-icon,
.ui-button-text-icon-secondary .ui-icon,
.ui-button-text-icons .ui-icon,
.ui-button-icons-only .ui-icon {
  position: absolute;
  top: 50%;
  margin-top: -8px;
}
.ui-button-icon-only .ui-icon {
  left: 50%;
  margin-left: -8px;
}
.ui-button-text-icon-primary .ui-button-icon-primary,
.ui-button-text-icons .ui-button-icon-primary,
.ui-button-icons-only .ui-button-icon-primary {
  left: .5em;
}
.ui-button-text-icon-secondary .ui-button-icon-secondary,
.ui-button-text-icons .ui-button-icon-secondary,
.ui-button-icons-only .ui-button-icon-secondary {
  right: .5em;
}
/* button sets */
.ui-buttonset {
  margin-right: 7px;
}
.ui-buttonset .ui-button {
  margin-left: 0;
  margin-right: -0.3em;
  font-weight: normal;
  border: 1px solid #999;
}
.ui-buttonset .ui-button.ui-state-hover .ui-button-text,
.ui-buttonset .ui-button.ui-state-active .ui-button-text {
  color: teal;
}
.ui-buttonset .ui-button.ui-state-active {
  background: #eee;
}
/* workarounds */
/* reset extra padding in Firefox, see h5bp.com/l */
input.ui-button::-moz-focus-inner,
button.ui-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*!
 * jQuery UI Datepicker 1.10.4
 * http://jqueryui.com
 *
 * Copyright 2014 jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://api.jqueryui.com/datepicker/#theming
 */
/*
 * Style sheet modified for ESS
 */
.ui-datepicker {
  width: 17em;
  padding: .2em .2em 0;
  display: none;
  background: white;
  opacity: 0.95;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -moz-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
}
.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
  top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
  left: 2px;
}
.ui-datepicker .ui-datepicker-next {
  right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
  left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
  right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 49%;
}
.ui-datepicker table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 .4em;
}
.ui-datepicker th {
  padding: .7em .3em;
  text-align: center;
  font-weight: bold;
  border: 0;
}
.ui-datepicker td {
  border: 0;
  padding: 1px;
  text-align: center;
}
.ui-datepicker td.ui-datepicker-current-day {
  background: #edf7a4;
}
.ui-datepicker td span,
.ui-datepicker td a {
  display: block;
  padding: .2em;
  text-decoration: none;
  color: #006b80;
}
.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: auto;
  overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}
/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
  width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
  float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left;
}
.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0;
}
/* RTL support */
.ui-datepicker-rtl {
  direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
  float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}
/*!
 * jQuery UI Dialog 1.10.4
 * http://jqueryui.com
 *
 * Copyright 2014 jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://api.jqueryui.com/dialog/#theming
 */
.ui-dialog {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  outline: 0;
  border: 1px solid #999;
  background: white;
  -webkit-box-shadow: 0 0 60px #777777;
  -moz-box-shadow: 0 0 60px #777777;
  box-shadow: 0 0 60px #777777;
}
.ui-dialog .ui-dialog-titlebar {
  padding: .7em 1em;
  position: relative;
  text-align: center;
  border-bottom: 1px solid teal;
  background: #006b80;
  color: white;
}
.ui-dialog .ui-dialog-title {
  font-size: 1.1em;
  margin: .1em 0;
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}
.ui-dialog .ui-dialog-titlebar-close {
  position: absolute;
  right: .3em;
  top: 50%;
  margin: -10px 0 0 0;
  padding: 1px;
  background: url('/timesheets/assets/img/20px-ffffff/cross.png');
  height: 20px;
  width: 20px;
  background-size: 20px;
  background-repeat: no-repeat;
  cursor: pointer;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.ui-dialog .ui-dialog-titlebar-close:hover {
  background-color: #ff5544;
}
.ui-dialog .ui-dialog-content {
  position: relative;
  border: 0;
  padding: 0;
  background: none;
  overflow: auto;
}
.ui-dialog .ui-dialog-buttonpane {
  text-align: left;
  border-width: 1px 0 0 0;
  background-image: none;
  padding: .3em 1em .5em .4em;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: right;
}
.ui-dialog .ui-dialog-buttonpane button {
  margin: .5em .4em .5em 0;
  cursor: pointer;
}
.ui-dialog .ui-resizable-se {
  width: 12px;
  height: 12px;
  right: -5px;
  bottom: -5px;
  background-position: 16px 16px;
}
.ui-draggable .ui-dialog-titlebar {
  cursor: move;
}
/*!
 * jQuery UI Resizable 1.10.4
 * http://jqueryui.com
 *
 * Copyright 2014 jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 */
.ui-resizable {
  position: relative;
}
.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}
.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0;
}
.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0;
}
.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%;
}
.ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%;
}
.ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}
.ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}
.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}
.ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}
/** Media Queries */
/** Sizes */
.highlight-eee {
  background: #eee;
  cursor: pointer;
}
/** --- Defaults --- */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  background: #f1f1f1;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
body {
  overflow-y: scroll;
}
a:hover,
a:active,
a:focus {
  outline: 0 !important;
  border: none;
}
ul {
  list-style: none;
}
ol.horizontal li,
ul.horizontal li {
  display: inline-block;
}
label {
  color: #111;
  font-weight: 300;
}
input[type="text"],
input[type="password"],
input[type="number"] {
  border: 1px solid #ccc;
  outline: 0;
  background: #fafafa;
  padding: .3em;
}
input[type="text"].error,
input[type="password"].error,
input[type="number"].error {
  border-color: #b90504;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
  border-color: #999;
}
input[type="button"].submit-button {
  padding: 5px 10px;
  background: #799933;
  color: #ffffff;
  font-weight: 600;
  border-style: none none solid none;
  border-width: 2px;
  border-color: #5b7326;
}
input[type="button"].submit-button.inactive {
  background: none;
  color: #333;
}
input[type="button"].submit-button.inactive:hover {
  background: #eee;
}
input[type="button"].submit-button:hover {
  background: #81ad1f;
}
input[type="button"].reject-button {
  padding: 5px 10px;
  background: #e64727;
  color: #ffffff;
  font-weight: 600;
  border-style: none none solid none;
  border-width: 2px;
  border-color: #c33417;
}
input[type="button"].reject-button.inactive {
  background: none;
  color: #333;
}
input[type="button"].reject-button.inactive:hover {
  background: #eee;
}
input[type="button"].reject-button:hover {
  background: #fe370f;
}
input[type="button"].neutral-button {
  padding: 5px 10px;
  background: #006b80;
  color: #ffffff;
  font-weight: 600;
  border-style: none none solid none;
  border-width: 2px;
  border-color: #00404d;
}
input[type="button"].neutral-button.inactive {
  background: none;
  color: #333;
}
input[type="button"].neutral-button.inactive:hover {
  background: #eee;
}
input[type="button"].neutral-button:hover {
  background: #006b80;
}
/** Remove the number spinners in chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
h1,
h2 {
  font-weight: 400;
}
h1 {
  color: #333;
}
hr {
  outline: 0;
  border-width: 1px;
  border-color: #ccc;
  border-style: solid none none none;
}
button {
  border: 1px solid #aaa;
  background: #eee;
  -webkit-box-shadow: 0px 0px 1px #dddddd;
  -moz-box-shadow: 0px 0px 1px #dddddd;
  box-shadow: 0px 0px 1px #dddddd;
  padding: 2px;
}
button:hover {
  background: #f9f9f9;
  -webkit-box-shadow: 0px 0px 2px #ffffff;
  -moz-box-shadow: 0px 0px 2px #ffffff;
  box-shadow: 0px 0px 2px #ffffff;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
select {
  padding: .3em .5em;
  background: white;
  border: 1px solid #999;
}
textarea {
  border: 1px solid #999;
}
a {
  color: teal;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  color: #004d4d;
}
/** --- Utilities --- */
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.clearfix {
  clear: both;
}
.hidden {
  display: none;
}
.bold-text {
  padding: 10px;
  margin: 0;
  font-weight: 600;
}
.info-text {
  background: #006b80;
  color: white;
  padding: 10px;
  margin: 0;
  font-weight: 600;
}
.warning-text {
  background: #d19525;
  color: white;
  padding: 10px;
  margin: 0;
  font-weight: 600;
}
.error-text {
  background: #b90504;
  color: white;
  padding: 10px;
  margin: 0;
  font-weight: 600;
}
.success-text {
  background: #808d0a;
  color: white;
  padding: 10px;
  margin: 0;
  font-weight: 600;
}
.margin-top-20 {
  margin-top: 20px !important;
}
.padding-10 {
  padding: 10px;
}
/** --- Icons --- */
.close-red {
  background: url('/timesheets/assets/img/20px-e74c3c/cross.png');
  height: 20px;
  width: 20px;
  background-size: 20px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.close-red:hover {
  background: url('/timesheets/assets/img/20px-ff5544/cross.png');
}
/** --- Tables --- */
table.simple-table {
  width: 100%;
  text-align: left;
}
table.simple-table thead tr {
  border-bottom: 1px solid #ddd;
}
table.simple-table thead tr th {
  padding: 5px;
}
table.simple-table tbody tr:nth-child(odd) {
  background: #fafafa;
}
table.simple-table tbody tr td {
  padding: 5px;
}
/** --- Main Structure --- */
#wrapper {
  height: 100%;
}
.view-animate-container {
  margin: 0 0 20px 270px;
  width: 880px;
}
@media print {
  .view-animate-container {
    margin: 0 0 20px 0;
  }
}
/** --- Home Page --- */
.ess-top-header {
  position: fixed;
  width: 100%;
  background: #fafafa;
  box-shadow: 0 1px 1px #ccc;
  height: 45px;
  z-index: 100;
  color: white;
  overflow: hidden;
}
.ess-top-header .fixed-width-header {
  width: 1150px;
  margin: auto;
  position: relative;
  top: 2px;
}
.ess-top-header .fixed-width-header .left-header-area {
  display: inline-block;
}
.ess-top-header .fixed-width-header .left-header-area .nysslogo {
  background: url('/timesheets/assets/img/nysslogo.png');
  height: 35px;
  width: 35px;
  background-size: 35px;
  background-repeat: no-repeat;
  float: left;
  margin-top: 2px;
  margin-left: 10px;
}
.ess-top-header .fixed-width-header .left-header-area #logoTextSection {
  padding: 0;
  margin-top: 0;
  display: inline-block;
}
.ess-top-header .fixed-width-header .left-header-area #logoTextSection #logoText {
  font-weight: 300;
  color: #333;
  font-size: 1.6em;
  line-height: 40px;
  margin-left: 10px;
}
.ess-top-header .fixed-width-header .left-header-area #logoTextSection #logoText #subLogoText {
  font-weight: 400;
}
.ess-top-header .fixed-width-header .left-header-area #topNavList {
  padding: 0;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 20px;
}
.ess-top-header .fixed-width-header .left-header-area #topNavList li {
  display: inline;
  line-height: 40px;
  padding: 10px 20px;
  cursor: pointer;
}
.ess-top-header .fixed-width-header .left-header-area #topNavList li.active {
  font-weight: 600;
}
.ess-top-header .fixed-width-header .left-header-area #topNavList li.teal.active {
  background: rgba(65, 150, 167, 0.4);
}
.ess-top-header .fixed-width-header .left-header-area #topNavList li.teal:hover {
  background: rgba(65, 150, 167, 0.2);
}
.ess-top-header .fixed-width-header .left-header-area #topNavList li.orange.active {
  background: rgba(209, 149, 37, 0.4);
}
.ess-top-header .fixed-width-header .left-header-area #topNavList li.orange:hover {
  background: rgba(209, 149, 37, 0.2);
}
.ess-top-header .fixed-width-header .left-header-area #topNavList li .nav-icon {
  margin-right: 5px;
  vertical-align: middle;
  height: 16px;
  position: relative;
  top: -1px;
  display: none;
  /** Hidden for now.. */
}
.ess-top-header .fixed-width-header .left-header-area #topNavList li a {
  color: #425151;
  font-size: 1.1em;
}
.ess-top-header .fixed-width-header .left-header-area #topNavList li a:hover {
  color: teal;
}
.ess-top-header .fixed-width-header .right-header-area {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  right: 0;
}
.ess-top-header .fixed-width-header .right-header-area #logoutSection {
  float: left;
  font-size: 1.1em;
  width: 120px;
}
.ess-top-header .fixed-width-header .right-header-area #logoutSection:hover {
  background: #ddd;
}
.ess-top-header .fixed-width-header .right-header-area #logoutSection:hover a .logout-icon {
  -webkit-transform: rotateY(-40deg);
  -moz-transform: rotateY(-40deg);
  -o-transform: rotateY(-40deg);
  -ms-transform: rotateY(-40deg);
  transform: rotateY(-40deg);
}
.ess-top-header .fixed-width-header .right-header-area #logoutSection a {
  padding: 11px;
  display: block;
  text-decoration: none !important;
  color: #333;
}
.ess-top-header .fixed-width-header .right-header-area #logoutSection a .logout-icon {
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-right: 5px;
  float: left;
  background: url('/timesheets/assets/img/20px-ffffff/logout.png');
  height: 20px;
  width: 20px;
  background-size: 20px;
  background-repeat: no-repeat;
}
/** Profile Square */
/** --- Left Navigation ---  */
.left-nav {
  background: #fafafa;
  border: 1px solid #f1f1f1;
  width: 250px;
  position: fixed;
  height: auto;
  padding-bottom: 20px;
  -webkit-border-radius: 0 0 0 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 0 0 2px;
  -moz-background-clip: padding;
  border-radius: 0 0 0 2px;
  background-clip: padding-box;
}
@media print {
  .left-nav {
    display: none;
  }
}
.left-nav .main-topic {
  color: #333;
  margin-left: 20px;
  width: 200px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}
.left-nav ul {
  padding: 0;
  margin: 0;
}
.left-nav li {
  padding: 5px 5px 5px 20px;
}
.left-nav li.sub-topic.active {
  border-left: 4px solid teal;
  padding-left: 16px;
}
.left-nav li.sub-topic.active a {
  font-weight: 600;
  color: #004d4d;
}
.content-wrapper {
  padding-top: 70px;
  padding-bottom: 40px;
  width: 1150px;
  margin: auto;
  min-height: 100%;
}
.section-title-container {
  -webkit-border-radius: 2px 0 0 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px 0 0 0;
  -moz-background-clip: padding;
  border-radius: 2px 0 0 0;
  background-clip: padding-box;
  color: #eee;
  font-size: 1.1em;
  margin: 0;
  padding: 10px 15px;
  font-weight: 600;
}
.section-title-container.teal {
  background: #005667;
}
.section-title-container.orange {
  background: #a6761d;
}
.content-container {
  background: #fefefe;
  position: relative;
  -webkit-box-shadow: 0px 1px 2px #aaaaaa;
  -moz-box-shadow: 0px 1px 2px #aaaaaa;
  box-shadow: 0px 1px 2px #aaaaaa;
  margin-top: 20px;
}
.content-container.no-top-margin {
  margin-top: 0;
}
.content-container h1 {
  font-size: 1.1em;
  margin: 0;
  text-align: center;
  padding: 4px 10px;
  border-width: 1px;
  border-style: none none solid none;
  color: black;
  border-color: rgba(0, 107, 128, 0.25);
  line-height: 40px;
  font-weight: 600;
}
.content-container h1.olive {
  border-color: #799933;
}
.content-container h1.orange {
  border-color: #d19525;
}
.content-container.dual {
  overflow: hidden;
}
.content-container.dual div.left-container,
.content-container.dual section.left-container,
.content-container.dual div.right-container,
.content-container.dual section.right-container {
  float: left;
  width: 400px;
  padding-bottom: 10px;
}
.content-controls {
  margin-top: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-align: center;
}
.content-controls p {
  font-weight: 600;
  color: #006b80;
}
.content-controls .content-info {
  border-bottom: none;
}
.content-info {
  margin-top: 0;
  padding: 10px;
  color: #222;
  text-align: center;
  border-bottom: 1px solid rgba(0, 107, 128, 0.25);
}
.content-info.no-bottom-margin {
  margin-bottom: 0;
  border-bottom: none;
}
/** --- Time Record Entry Page --- */
table#timeRecordTable thead tr th {
  width: 65px;
}
table#timeRecordTable tbody tr {
  height: 32px;
}
table#timeRecordTable tbody tr.time-record-row td:nth-child(1) {
  width: 150px;
  border-right: 1px solid #ccc;
}
table#timeRecordTable tbody tr.time-totals-row {
  border-top: 2px solid teal;
}
table#timeRecordTable tbody tr.time-totals-row td:first-child {
  font-weight: 600;
}
table#timeRecordTable tbody tr.time-totals-row td:last-child {
  font-size: 1.1em;
  font-weight: 600;
}
table#timeRecordTable tbody tr.weekend {
  background: #f0f0f0;
}
table#timeRecordTable tbody tr td {
  text-align: center;
  border-right: 1px solid #dedede;
}
table#timeRecordTable tbody tr td input[type="text"],
table#timeRecordTable tbody tr td input[type="number"] {
  width: 55px;
  height: 32px;
  font-size: 1.1em;
  text-align: center;
  border: 0;
  background: none;
}
table#timeRecordTable tbody tr td.today {
  border-left: 3px solid #799933;
}
#record-selection-container {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 107, 128, 0.55);
}
#record-selection-container table {
  text-align: center;
  width: 90%;
  margin: auto;
}
#record-selection-container table tr.active {
  background: #e7e9f6;
}
#record-selection-container table th {
  border-bottom: 1px solid #ccc;
}
#record-selection-container table th,
#record-selection-container table td {
  padding: 5px;
}
#hourlyAccrualContainer {
  width: 650px;
  margin: auto;
  text-align: center;
  padding-bottom: 10px;
}
.accrual-component {
  display: inline-block;
  text-align: center;
}
.accrual-component .captioned-hour-square {
  width: 105px;
  height: 40px;
  margin: 5px auto;
  padding: 0 10px;
}
.accrual-component .captioned-hour-square .hours-caption {
  font-size: 1em;
  line-height: 20px;
  padding: .2em;
  font-weight: 600;
}
.accrual-component .captioned-hour-square .hours-caption.sick {
  background: #d19525;
  color: white;
}
.accrual-component .captioned-hour-square .hours-caption.personal {
  background: #006b80;
  color: white;
}
.accrual-component .captioned-hour-square .hours-caption.vacation {
  background: #799933;
  color: white;
}
.accrual-component .captioned-hour-square .hours-display {
  font-size: 1.2em;
  line-height: 30px;
  font-weight: 600;
  color: #0e4e5a;
  border-width: 1px;
  border-style: none solid solid solid;
  border-color: #ddd;
  -webkit-border-radius: 0 0 2px 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 0 2px 2px;
  -moz-background-clip: padding;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
}
.accrual-component .captioned-hour-square .hours-display.sick {
  border-color: #d19525;
}
.accrual-component .captioned-hour-square .hours-display.personal {
  border-color: #006b80;
}
.accrual-component .captioned-hour-square .hours-display.vacation {
  border-color: #799933;
}
.accrual-component .hour-label {
  color: #333;
  padding: 0px;
  margin: 10px auto;
  font-size: 1em;
  font-weight: 400;
}
.accrual-component:nth-child(1),
.accrual-component:nth-child(2),
.accrual-component:nth-child(3) {
  width: 15%;
}
.accrual-component:nth-child(4) {
  width: 50%;
}
#remarksRecordContainer {
  float: left;
}
#remarksRecordContainer label {
  font-weight: 600;
  margin: 0 10px 0 10px;
  line-height: 55px;
}
#remarksRecordContainer #remarksTextArea {
  margin: 5px 0;
  height: 45px;
  width: 450px;
  border: 1px solid #ccc;
}
#saveRecordContainer {
  padding: 10px;
  background: #f9f9f9;
}
#saveRecordContainer input[type="button"] {
  margin-top: 10px;
  width: 100px;
}
/*
  --- Attendance History Page ---
*/
.attendance-listing-table tbody tr {
  border-bottom: 1px solid #eee !important;
}
.attendance-listing-table tbody tr:hover {
  background: rgba(0, 107, 128, 0.05);
}
.attendance-listing-table tbody tr:nth-child(even) {
  background: rgba(51, 51, 51, 0.05);
}
.attendance-listing-table tbody tr td {
  padding: .5em;
  border-right: 1px solid #eee;
}
.attendance-listing-table tbody tr td .action-link {
  font-size: .9em;
}
table.attendance-entry-sub-table {
  width: 100%;
  font-size: 1em;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
table.attendance-entry-sub-table tbody tr {
  border-bottom: none !important;
}
table.attendance-entry-sub-table tbody tr:nth-child(odd) {
  background: rgba(51, 51, 51, 0.05);
}
table.attendance-entry-sub-table tbody tr td {
  padding: .4em !important;
  border-right: 1px solid #ddd;
}
table.attendance-entry-sub-table.small-text tbody tr td {
  font-size: 0.9em !important;
}
/*
  --- Request Time Off Page ---
*/
.timeoff-request-accrual-container {
  width: 600px;
  text-align: center;
  margin: auto;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
.timeoff-request-accrual-container .accrual-section-title {
  color: #333;
}
.timeoff-request-accrual-container .accrual-section {
  margin-top: 10px;
}
.timeoff-request-accrual-container .accrual-section .accrual-component {
  width: 100px;
}
.timeoff-request-form-container {
  width: 400px;
  display: inline-block;
  vertical-align: top;
}
.timeoff-request-form-container .label-container,
.timeoff-request-form-container .input-container {
  display: inline-block;
  margin-bottom: 10px;
}
.timeoff-request-form-container .label-container {
  width: 90px;
  padding-right: 20px;
  text-align: right;
}
.timeoff-request-form-container .input-container {
  width: 300px;
}
.timeoff-request-form-container .input-container .date-input {
  width: 220px;
  background: url(../../img/20px-999999/calendar.png);
  background-repeat: no-repeat;
  background-position: 195px 2px;
  background-size: 18px;
}
.timeoff-request-form-container #number-hours-requested {
  width: 40px;
}
.timeoff-request-form-container #reason-textarea {
  resize: none;
  width: 290px;
  padding: 5px;
  height: 67px;
}
/**
  --- View Pay Period Calendar Page ---
*/
.pay-period-cal-container .legend-container {
  color: #777;
}
.pay-period-cal-container .legend-container .legend-block {
  margin-left: 20px;
  display: inline-block;
  width: 25px;
  height: 20px;
  margin-right: 10px;
}
.pay-period-cal-container .pay-period-cal {
  width: 730px;
  margin: auto;
}
.pay-period-cal-container .pay-period-cal .pay-period-month {
  display: inline-block;
  margin: 10px;
}
.pay-period-cal-container .pay-period-cal .pay-period-month .ui-datepicker {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  /** Highlighted dates */
}
.pay-period-cal-container .pay-period-cal .pay-period-month .ui-datepicker .ui-datepicker-month {
  font-weight: bold;
}
.pay-period-cal-container .pay-period-cal .pay-period-month .ui-datepicker .ui-datepicker-current-day {
  background: none;
}
.pay-period-cal-container .pay-period-cal .pay-period-month .ui-datepicker .current-date span {
  font-weight: 600;
  border: 2px solid #e64727;
}
.pay-period-cal-container .pay-period-cal .pay-period-month .ui-datepicker .weekend-date span {
  color: #aaa;
}
.pay-period-cal-container .pay-period-cal .pay-period-month .ui-datepicker .holiday-date span {
  background: #d4ff60;
}
.pay-period-cal-container .pay-period-cal .pay-period-month .ui-datepicker .pay-period-end-date span {
  background: #B8E3EB;
}
.pay-period-cal-container .pay-period-cal .pay-period-month .ui-datepicker .holiday-date.pay-period-end-date span {
  background: #d4ff60;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #d4ff60 49%, #b8e3eb 52%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(49%, #d4ff60), color-stop(52%, #b8e3eb));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #d4ff60 49%, #b8e3eb 52%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #d4ff60 49%, #b8e3eb 52%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #d4ff60 49%, #b8e3eb 52%);
  /* IE10+ */
  background: linear-gradient(45deg, #d4ff60 49%, #b8e3eb 52%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4ff60', endColorstr='#B8E3EB', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
/**
  --- Accrual History Page ---
*/
.accruals-table,
#detail-acc-history-table,
#accrual-usage-details-table {
  width: 100%;
}
.accruals-table thead tr,
#detail-acc-history-table thead tr,
#accrual-usage-details-table thead tr {
  border-bottom: 1px solid #ddd;
}
.accruals-table thead tr th,
#detail-acc-history-table thead tr th,
#accrual-usage-details-table thead tr th {
  border-right: 1px solid #ddd;
  padding: .3em 0;
}
.accruals-table thead tr:last-of-type,
#detail-acc-history-table thead tr:last-of-type,
#accrual-usage-details-table thead tr:last-of-type {
  border-bottom: 1px solid #006b80;
}
.accruals-table tbody tr:nth-child(even),
#detail-acc-history-table tbody tr:nth-child(even),
#accrual-usage-details-table tbody tr:nth-child(even) {
  background: rgba(51, 51, 51, 0.05);
}
.accruals-table tbody tr td,
#detail-acc-history-table tbody tr td,
#accrual-usage-details-table tbody tr td {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  text-align: center;
  padding: .4em 0;
}
/**
  --- Manage Employee Records Page ---
*/
table.approve-attendance-rec-table tbody td {
  padding: .5em;
}
.small-employee-profile-pic {
  height: 30px;
  width: 30px;
  background-size: 30px;
  background-repeat: no-repeat;
  background-image: url("http://strangebeaver.com/wp-content/uploads/2011/01/fb/16.jpg");
}
#review-records-modal #record-selection-pane {
  display: inline-block;
  height: 515px;
  width: 400px;
  margin: 0;
  vertical-align: top;
  border-right: 1px solid #ccc;
  background: #f5f5f5;
}
#review-records-modal #record-selection-pane #record-selection-table {
  background: white;
}
#review-records-modal #record-selection-pane #record-selection-table tbody tr:hover {
  background: rgba(255, 255, 182, 0.77);
  cursor: pointer;
}
#review-records-modal #record-selection-pane #record-selection-table tbody tr.active {
  background: #ffffb6;
}
#review-records-modal #record-selection-pane #record-selection-table tbody tr.approved {
  background: #cffc9e;
}
#review-records-modal #record-selection-pane #record-selection-table tbody tr.rejected {
  background: #e64727;
}
#review-records-modal #record-selection-pane #record-selection-table tbody tr td.name-column {
  text-align: left;
}
#review-records-modal #record-details-view {
  display: inline-block;
  width: 670px;
  margin: 0;
}
#review-records-modal #record-details-view #remarks-container {
  padding: .3em;
  text-align: center;
}
#review-records-modal #record-details-view #action-container {
  text-align: center;
  margin: 0.4em 0;
  background: #f1f1f1;
  padding: .5em;
}
#review-records-modal .pane-title {
  text-align: center;
  margin: 0;
  padding: .4em;
  font-weight: 600;
  background: white;
}
