/*! main */
@import "lesshat";
@import "./common/common";

/** Sizes */
@nav-width: 225px;
@docked-nav-width: 50px;
@profile-tab-width: 220px;

.highlight-eee {
  background: #eee;
  cursor: pointer;
}

/** Defaults */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  .open-sans;
  font-size: 13px;
  background: #fafafa;
}

a:hover, a:active, a:focus {
  outline: 0 !important;
  border: none;
}

ul {
  list-style: none;
}

label {
  color: #111;
  .font-weight-light;
}

input[type="text"], input[type="password"] {
  border: 1px solid #ccc;
  outline: 0;
  background: #fafafa;
  padding: 2px;
  &.error {
    border-color: @dark-red;
  }
  &:focus {
    border-color: #999;
  }
}

/** Remove the number spinners in chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1, h2 {
  .font-weight-normal;
}

hr {
  outline: 0;
  border-width: 1px;
  border-color: #ccc;
  border-style: solid none none none;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.clearfix {
  clear: both;
}

button {
  border: 1px solid #aaa;
  background: #eee;
  .box-shadow(0px, 0px, 1px, #ddd);
  padding: 2px;
  &:hover {
    background: #f9f9f9;
    .box-shadow(0px, 0px, 2px, #fff);
    .transition-duration(.5s);
  }
}
/** Header Tags */
h1 {
  color: #333;
}

.bold-text {
  padding: 10px;
  margin: 0;
  font-weight: 600;
}

.info-text {
  background: @teal;
  color: white;
  .bold-text;
}

.warning-text {
  background: @orange;
  color: white;
  .bold-text;
}

.error-text {
  background: @dark-red;
  color: white;
  .bold-text;
}

.success-text {
  background: @olive;
  color: white;
  .bold-text;
}

#wrapper {
  background: #ddd;
}

/** Home Page
---------------*/
.ess-top-header {
  position: fixed;
  width: 100%;
  //background: #fafafa;
  background: #3d3d3d;
  border-bottom: 1px solid #222;
  height:50px;
  z-index: 100;
  color: white;
  overflow: hidden;

  .left-header-area {
    display: inline-block;

    .nysslogo {
      .nysslogo(35px);
      float: left;
      margin-top: 8px;
      margin-left: 10px;
    }

    #logoTextSection {
      padding: 0;
      margin-top: 0px;
      display: inline-block;

      #logoText {
        .font-weight-light;
        font-size: 1.6em;
        line-height: 50px;
        margin-left: 10px;

        #subLogoText {
          .font-weight-normal;
        }
      }
    }

  }

  .right-header-area {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    right: 0;

    #profileSection {
      float:left;
      min-width: @profile-tab-width;
      padding: 4px 5px 0px 5px;
      line-height: 43px;

      &:hover {
        background: lighten(#323232, 5%);
      }

      #headerProfileSquare {
        .profile-square(40px);
        .transform(rotateY(0deg));
        background-color: #555;
        padding: 6px 0px 0px 3px;
        float: left;
        #headerProfileImg {
          .user-default-icon(35px);
        }
      }

      #headerProfileName {
        font-size: 1em;
        margin-left: 10px;
      }
    }

    #logoutSection {
      float:left;
      font-size: 1.1em;
      width: 120px;
      border-left: 1px solid #222;

      &:hover {
        background: lighten(#323232, 10%);
        a .logout-icon {
          .transform(rotateY(-40deg));
        }
      }

      a {
        padding: 15px;
        display: block;
        text-decoration: none !important;
        color: white;

        .logout-icon {
          .transform-origin(0 0);
          .transition(.3s);
          margin-right: 5px;
          float: left;
          background: url('../../img/logout.png');
          .image-size(20px);
        }
      }
    }
  }
}

#topNavList {
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;

  li {
    display: inline;
    line-height:50px;
    padding: 10px 20px;
    margin-right: 7px;
    cursor: pointer;

    &.active {
      font-weight: 600;
    }

    .nav-icon {
      margin-right:5px;
      vertical-align: middle;
      height: 16px;
      position: relative;
      top: -1px;
    }

    &#dashboardLink {
      &:hover {
        background: fade(@orange, 40%);
      }
      border-bottom: 1px solid @orange;
    }

    &#timeAttendanceLink {
      &:hover {
        background: fade(@light-teal, 40%);
      }
      border-bottom: 1px solid @light-teal;
    }

    &#payrollLink {
      &:hover {
        background: fade(@green, 40%);
      }
      border-bottom: 1px solid @green;
    }

    &#helpLink {
      &:hover {
        background: fade(#aaa, 40%);
      }
      border-bottom: 1px solid #aaa;
    }

    a {
      font-size: 1.1em;
    }
  }
}

/** Profile Square */
.profile-square(@size:40px) {
  width: @size;
  height: @size;
}

/** Left Navigation
--------------------- */
.left-nav {
  background:#f1f1f1;
  width:250px;
  position: fixed;
  height: 100%;

  .main-topic {
    color: #333;
    margin-left: 20px;
    width: 200px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    padding: 5px 5px 5px 20px;
  }

  a {
    color: teal;
    text-decoration: none;
    &:hover {
      color: #012B48;
    }
  }
}

#leftNav {
  display:none;
  position:fixed;
  top: 40px;
  height: 100%;
  padding-top: 20px;
  margin-right: 20px;
  width: @nav-width;
  background: #333;

  #mainNavList {
    padding: 0;
    margin: 0;

    .nav-link-icon(@url) {
      background: url(@url);
      float: left;
      .image-size(15px);
      margin: 3px 7px 0px 5px;
    }

    li {
      &.main-topic {
        color: white;
        .font-weight-light;
        font-size: 1.2em;
        margin: 0;
        padding: 10px 0;
        cursor: pointer;

        &#timeAttendanceLink {
          .nav-icon {
            .nav-link-icon('../../img/20px-ffffff/clock.png');
          }
        }

        &#dashboardLink {
          .nav-icon {
            .nav-link-icon('../../img/20px-ffffff/house.png');
          }
        }

        &#productivityLink {
          .nav-icon {
            .nav-link-icon('../../img/20px-ffffff/gauge.png');
          }
        }

        &#helpLink {
          .nav-icon {
            .nav-link-icon('../../img/20px-ffffff/question.png');
          }
        }

        &:hover {
          background: #555;
        }

        &.active {
          border-bottom: 1px solid #555;
          background: #00809a;
        }
      }

      .sub-topic-list {
        padding: 0;
        display: none;
        cursor: pointer;
        margin-top: 5px;

        .sub-topic {

          a {
            padding-left: 30px;
            text-decoration: none;
            line-height: 40px;
            display: block;
            .font-weight-bold;
            font-size: 1.0em;
            color: #bbb;
          }

          &:hover {
            a {
              color: white;
            }
            background: #444;
          }

          &.active {
            a {
              color: white;
              padding-left: 26px;
            }
            border-left: 5px solid lighten(@teal, 5%);
            .font-weight-bold;
          }
        }

        &.active {
          display: block;
        }
      }
    }
  }
}
.content-wrapper {
 // margin-left: @nav-width;
  padding-top: 50px;
  padding-bottom: 40px;
  background: #fafafa;
  width: 1150px;
  margin: auto;
}

.section-title-container, .bread-crumb-container {
  &.teal {
    background: @teal;
  }
  color: #eee;
  font-size: 1.1em;
  margin: 0;
  padding: 10px 15px;
}

.section-title-container {
  &.teal {
    background: darken(@teal, 5%);
  }
  position: fixed;
  width: 250px;
  .font-weight-bold;
}

.bread-crumb-container {
  margin-left: 250px;
}

.content-container {
  margin:20px 0 0 260px;
  width: 840px;
  background: #fefefe;
  position: relative;
  .box-shadow(0px 1px 10px #eee);

  h1 {
    font-size:1.3em;
    margin:0;
    text-align: center;
    padding: 5px 10px;
    border-width: 2px;
    border-style: none none solid none;
    border-color: @teal;
    color: #333;
    line-height: 30px;

    &.olive {
      border-color: @green;
    }
    &.orange {
      border-color: @orange;
    }
  }

  &.dual {
    overflow: hidden; //fixes 0 container height issue
    div, section {
      &.left-container, &.right-container {
        float:left;
        width: 400px;
        padding-bottom: 10px;
      }
      &.left-container {
        h1 {
          border-bottom: 4px solid @orange;
        }
      }
      &.right-container {
        h1 {
          border-bottom: 4px solid @olive;
        }
      }
    }
  }
}



/** Time Record Entry Page
-----------------------------*/
table#timeRecordTable {
  thead {
    tr {
      th {
        width: 65px;
      }
    }
  }

  tbody {
    tr {
      height: 35px;

      &.time-record-row {
        td {
          &:nth-child(1) {
            width: 150px;
            border-right: 1px solid #ccc;
          }
        }
      }

      &.time-totals-row {
        td {
          &:first-child {
            .font-weight-bold;
          }
          &:last-child {
            background: @teal;
            color: white;
            font-size: 1.1em;
            .font-weight-bold;
          }
        }
      }

      &.weekend {
        background: #f0f0f0;
      }

      td {
        text-align: center;
        border-right: 1px solid #dedede;
        input[type="text"], input[type="number"] {
          width: 55px;
          height: 35px;
          font-size: 1.1em;
          text-align: center;
          border: 0;
          background: none;
        }

        &.today {
          border-left: 3px solid @green;
        }
      }
    }
  }
}

#payPeriodListContainer {
  text-align: center;
  padding-bottom: 10px;
  table {
    text-align: center;
    width: 90%;
    margin: auto;
    tr {
      &.active {
        background: #e7e9f6;
      }
    }
    th {
      border-bottom: 1px solid #ccc;
    }
    th, td {
      padding: 5px;
    }
  }
}

#hourlyAccrualContainer {
  width: 650px;
  margin: auto;
  text-align: center;
  padding-bottom: 10px;
}

#accrualsListing {
  div.accrual-component {
    float: left;
    text-align: center;

    .captioned-hour-square {
      width: 105px;
      height: 40px;
      margin: 5px auto;
      padding: 0 10px;

      .hours-caption {
        font-size: 1em;
        border-bottom: 1px solid #bbb;
        line-height: 17px;
      }

      .hours-display {
        font-size: 1.2em;
        .font-weight-bold;
        line-height: 30px;
        font-weight: 600;
        color: @navy;
      }
    }

    .hour-label {
      color: #333;
      padding: 0px;
      margin: 10px auto;
      font-size: 1em;
      .font-weight-normal;
    }

    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
      width: 15%;
    }
    &:nth-child(4) {
      width: 55%;
    }
  }
}

#remarksRecordContainer {
  float: left;

  label {
    .font-weight-bold;
    margin: 0 10px 0 10px;
    line-height: 55px;
  }
  #remarksTextArea {
    margin: 5px 0;
    height: 45px;
    width: 450px;
    border: 1px solid #ccc;
  }
}

#saveRecordContainer {
  padding: 10px;
  background: #f9f9f9;
  input[type="button"] {
    margin-top: 10px;
    width: 230px;
    padding: 5px 10px;
    background: @green;
    color: white;
    .font-weight-bold;
    border-style: none none solid none;
    border-bottom: 3px solid darken(@green, 10%);

    &.inactive {
      background: none;
      color: #333;
      &:hover {
        background: #eee;
      }
    }

    &:hover {
      background: saturate(@green, 20%);
    }
  }
}

.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .1s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .1s;
}

.view-animate.ng-enter {
  //.transform(translateY(20px));
  opacity: 0;
}
.view-animate.ng-enter.ng-enter-active {
  opacity: 1;

  //.transform(translateY(0px));
}
.view-animate.ng-leave.ng-leave-active {
  display: none;
}

