/*! main */
@import "lesshat";
@import "./common/include";

/** Sizes */
@nav-width: 225px;
@docked-nav-width: 50px;
@profile-tab-width: 220px;

.highlight-eee {
  background: #eee;
  cursor: pointer;
}

/** Defaults */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  .open-sans;
  font-size: 13px;
  background: #ddd;
  height: 100%;
}

body {
  overflow-y: scroll;
}

a:hover, a:active, a:focus {
  outline: 0 !important;
  border: none;
}

ul {
  list-style: none;
}

ol.horizontal, ul.horizontal {
  li {
    display: inline-block;
  }
}

label {
  color: #111;
  .font-weight-light;
}

input[type="text"], input[type="password"], input[type="number"] {
  border: 1px solid #ccc;
  outline: 0;
  background: #fafafa;
  padding: .3em;
  &.error {
    border-color: @dark-red;
  }
  &:focus {
    border-color: #999;
  }
}

input[type="button"].submit-button {
  .styled-button(@green, white);
}

input[type="button"].reject-button {
  .styled-button(@redorange, white);
}

input[type="button"].neutral-button {
  .styled-button(@teal, white);
}

.styled-button(@bgColor, @textColor) {
  padding: 5px 10px;
  background: @bgColor;
  color: @textColor;
  .font-weight-bold;
  border-style: none none solid none;
  border-width: 2px;
  border-color: darken(@bgColor, 10%);

  &.inactive {
    background: none;
    color: #333;
    &:hover {
      background: #eee;
    }
  }

  &:hover {
    background: saturate(@bgColor, 20%);
  }
}

/** Remove the number spinners in chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1, h2 {
  .font-weight-normal;
}

hr {
  outline: 0;
  border-width: 1px;
  border-color: #ccc;
  border-style: solid none none none;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.clearfix {
  clear: both;
}

.hidden {
  display: none;
}

button {
  border: 1px solid #aaa;
  background: #eee;
  .box-shadow(0px, 0px, 1px, #ddd);
  padding: 2px;
  &:hover {
    background: #f9f9f9;
    .box-shadow(0px, 0px, 2px, #fff);
    .transition-duration(.5s);
  }
}

select {
  padding: .3em .5em;
  background: white;
  border: 1px solid #999;
}

textarea {
  border: 1px solid #999;
}

/** Header Tags */
h1 {
  color: #333;
}

a {
  color: teal;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    color: darken(teal, 10%);
  }
}

.bold-text {
  padding: 10px;
  margin: 0;
  font-weight: 600;
}

.info-text {
  background: @teal;
  color: white;
  .bold-text;
}

.warning-text {
  background: @orange;
  color: white;
  .bold-text;
}

.error-text {
  background: @dark-red;
  color: white;
  .bold-text;
}

.success-text {
  background: @olive;
  color: white;
  .bold-text;
}

#wrapper {
  height: 100%;
}

/** Home Page
---------------*/
.ess-top-header {
  position: fixed;
  width: 100%;
  //background: #fafafa;
  background: #3d3d3d;
  border-bottom: 1px solid #222;
  height:45px;
  z-index: 100;
  color: white;
  overflow: hidden;

  .left-header-area {
    display: inline-block;

    .nysslogo {
      .nysslogo(35px);
      float: left;
      margin-top: 5px;
      margin-left: 10px;
    }

    #logoTextSection {
      padding: 0;
      margin-top: 0px;
      display: inline-block;

      #logoText {
        .font-weight-light;
        font-size: 1.6em;
        line-height: 45px;
        margin-left: 10px;

        #subLogoText {
          .font-weight-normal;
        }
      }
    }

  }

  .right-header-area {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    right: 0;

    #profileSection {
      float:left;
      padding: 0;
      line-height: 45px;

      &:hover {
        background: lighten(#323232, 5%);
      }

      #headerProfileSquare {
        margin-right: 5px;
        margin-top: 3px;
        .profile-square(40px);
        .transform(rotateY(0deg));
        float: left;
        #headerProfileImg {
          background: url("https://avatars0.githubusercontent.com/u/2687188?s=140");
          .image-size(40px);
        }
      }

      #headerProfileName {
        font-size: 1em;
        margin-left: 10px;
      }
    }

    #logoutSection {
      float:left;
      font-size: 1.1em;
      width: 120px;
      border-left: 1px solid #222;

      &:hover {
        background: lighten(#323232, 10%);
        a .logout-icon {
          .transform(rotateY(-40deg));
        }
      }

      a {
        padding: 13px;
        display: block;
        text-decoration: none !important;
        color: white;

        .logout-icon {
          .transform-origin(0 0);
          .transition(.3s);
          margin-right: 5px;
          float: left;
          background: url('../../img/logout.png');
          .image-size(20px);
        }
      }
    }
  }
}

#topNavList {
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;

  li {
    display: inline;
    line-height:45px;
    padding: 10px 20px;
    margin-right: 7px;
    cursor: pointer;

    &.active {
      font-weight: 600;
      background: fade(@light-teal, 40%);
    }

    .nav-icon {
      margin-right:5px;
      vertical-align: middle;
      height: 16px;
      position: relative;
      top: -1px;
    }

    &:hover {
      background: fade(@light-teal, 40%);
    }

    a {
      color: white;
      font-size: 1.1em;
      &:hover {
        color: white;
      }
    }
  }
}

/** Profile Square */
.profile-square(@size:40px) {
  width: @size;
  height: @size;
}

/** Left Navigation
--------------------- */
.left-nav {
  background:#f1f1f1;
  width:250px;
  position: fixed;
  height: 100%;

  .main-topic {
    color: #333;
    margin-left: 20px;
    width: 200px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    padding: 5px 5px 5px 20px;
    &.sub-topic.active {
      border-left: 4px solid teal;
      padding-left: 16px;
      a {
        .font-weight-bold;
        color: darken(teal, 10%);
      }
    }
  }
}

.content-wrapper {
 // margin-left: @nav-width;
  padding-top: 45px;
  padding-bottom: 40px;
  background: #fafafa;
  width: 1150px;
  margin: auto;
  min-height: 100%;
}

.section-title-container, .bread-crumb-container {
  &.teal {
    background: @teal;
  }
  color: #eee;
  font-size: 1.1em;
  margin: 0;
  padding: 10px 15px;
}

.section-title-container {
  &.teal {
    background: darken(@teal, 5%);
  }
  position: fixed;
  width: 250px;
  .font-weight-bold;
}

.bread-crumb-container {
  margin-left: 250px;
}

.content-container {
  margin:20px 0 0 260px;
  width: 880px;
  background: #fefefe;
  position: relative;
  .box-shadow(0px 1px 10px #eee);

  h1 {
    font-size:1.1em;
    margin:0;
    text-align: center;
    padding: 5px 10px;
    border-width: 1px;
    border-style: none none solid none;
    border-color: fade(@teal, 55%);
    color: #333;
    line-height: 30px;
    .font-weight-bold;

    &.olive {
      border-color: @green;
    }
    &.orange {
      border-color: @orange;
    }
  }

  &.dual {
    overflow: hidden; //fixes 0 container height issue
    div, section {
      &.left-container, &.right-container {
        float:left;
        width: 400px;
        padding-bottom: 10px;
      }
    }
  }
}

.content-controls {
  margin-top: 0;
  .box-shadow(none);
  text-align: center;
  p {
    .font-weight-bold;
    color: @teal;
  }
}

.content-info {
  background: rgba(236, 237, 238, 0.33);
  margin-top: 0;
  padding: 10px;
  color: #222;
  text-align: center;
  &.no-bottom-margin {
    margin-bottom: 0;
  }
}

/*
  --- Time Record Entry Page ---
*/

table#timeRecordTable {
  thead {
    tr {
      th {
        width: 65px;
      }
    }
  }

  tbody {
    tr {
      height: 32px;

      &.time-record-row {
        td {
          &:nth-child(1) {
            width: 150px;
            border-right: 1px solid #ccc;
          }
        }
      }

      &.time-totals-row {
        td {
          &:first-child {
            .font-weight-bold;
          }
          &:last-child {
            font-size: 1.1em;
            .font-weight-bold;
          }
        }
      }

      &.weekend {
        background: #f0f0f0;
      }

      td {
        text-align: center;
        border-right: 1px solid #dedede;
        input[type="text"], input[type="number"] {
          width: 55px;
          height: 32px;
          font-size: 1.1em;
          text-align: center;
          border: 0;
          background: none;
        }

        &.today {
          border-left: 3px solid @green;
        }
      }
    }
  }
}

#record-selection-container {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid fade(@teal, 55%);
  table {
    text-align: center;
    width: 90%;
    margin: auto;
    tr {
      &.active {
        background: #e7e9f6;
      }
    }
    th {
      border-bottom: 1px solid #ccc;
    }
    th, td {
      padding: 5px;
    }
  }
}

#hourlyAccrualContainer {
  width: 650px;
  margin: auto;
  text-align: center;
  padding-bottom: 10px;
}

.accrual-component {
  display: inline-block;
  text-align: center;

  .captioned-hour-square {
    width: 105px;
    height: 40px;
    margin: 5px auto;
    padding: 0 10px;

    .hours-caption {
      font-size: 1em;
      line-height: 20px;

      &.sick {
        background: #d19525;
        color: white;
      }

      &.personal {
        background: @teal;
        color: white;
      }

      &.vacation {
        background: #799933;
        color: white;
      }
    }

    .hours-display {
      font-size: 1.2em;
      .font-weight-bold;
      line-height: 30px;
      font-weight: 600;
      color: @navy;
    }
  }

  .hour-label {
    color: #333;
    padding: 0px;
    margin: 10px auto;
    font-size: 1em;
    .font-weight-normal;
  }

  &:nth-child(1), &:nth-child(2), &:nth-child(3) {
    width: 15%;
  }
  &:nth-child(4) {
    width: 50%;
  }
}

#remarksRecordContainer {
  float: left;

  label {
    .font-weight-bold;
    margin: 0 10px 0 10px;
    line-height: 55px;
  }
  #remarksTextArea {
    margin: 5px 0;
    height: 45px;
    width: 450px;
    border: 1px solid #ccc;
  }
}

#saveRecordContainer {
  padding: 10px;
  background: #f9f9f9;
  input[type="button"] {
    margin-top: 10px;
    width: 100px;
  }
}

/*
  --- Attendance History Page ---
*/

.attendance-listing-table {
  tbody {
    tr {
      border-bottom: 1px solid #eee !important;

      &:hover {
        background: fade(@teal, 5%);
      }

      &:nth-child(even) {
        background: fade(#333, 5%);
      }

      td {
        padding: .5em;
        border-right: 1px solid #eee;

        .action-link {
          font-size: .9em;
        }
      }
    }
  }
}

table.attendance-entry-sub-table {
  width:100%;
  font-size:1em;
  border-left:1px solid #ddd;
  border-bottom: 1px solid #ddd;
  thead {
    tr {

    }
  }
  tbody {
    tr {
      &:nth-child(odd) {
        background: fade(#333, 5%);
      }
      border-bottom: none !important;
      td {
        padding: .4em !important;
        border-right: 1px solid #ddd;
      }
    }
  }
  &.small-text {
    tbody {
      tr {
        td {
          font-size: 0.9em !important;
        }
      }
    }
  }
}


/*
  --- Request Time Off Page ---
*/

.timeoff-request-accrual-container {
  width: 600px;
  text-align: center;
  margin: auto;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;

  .accrual-section-title {
    color: #333;
  }

  .accrual-section {
    margin-top: 10px;
    .accrual-component {
      width: 100px;
    }
  }
}

.timeoff-request-form-container {
  width: 400px;
  display: inline-block;
  vertical-align: top;

  .label-container, .input-container {
    display: inline-block;
    margin-bottom:10px;
  }

  .label-container {
    width: 90px;
    padding-right: 20px;
    text-align: right;
  }

  .input-container {
    width: 300px;

    .date-input {
      width: 220px;
      background: url(../../img/20px-999999/calendar.png);
      background-repeat: no-repeat;
      background-position: 195px 2px;
      background-size: 18px;
    }
  }

  #number-hours-requested {
    width: 40px;
  }

  #reason-textarea {
    resize: none;
    width:290px;
    padding: 5px;
    height: 67px;
  }
}

/**
  --- View Pay Period Calendar Page ---
*/

.pay-period-cal-container {
  .legend-container {
    color:#777;

    .legend-block {
      margin-left:20px;
      display:inline-block;
      width:25px;
      height:20px;
      margin-right:10px;
    }
  }

  .pay-period-cal {
    width: 730px;
    margin: auto;

    .pay-period-month {
      display: inline-block;
      margin: 10px;

      .ui-datepicker {
        .box-shadow(none);

        .ui-datepicker-current-day {
          background: none;
        }

        /** Highlighted dates */

        .current-date {
          span {
            .font-weight-bold;
            border: 2px solid @teal;
          }
        }
        .weekend-date {
          span {
            color: #aaa;
          }
        }

        .holiday-date {
          span {
            background: #d4ff60;
          }
        }

        .holiday-and-pay-period-date {
          span {
            background: #d4ff60; /* Old browsers */
            background: -moz-linear-gradient(45deg,  #d4ff60 49%, #B8E3EB 52%); /* FF3.6+ */
            background: -webkit-gradient(linear, left bottom, right top, color-stop(49%,#d4ff60), color-stop(52%,#B8E3EB)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(45deg,  #d4ff60 49%,#B8E3EB 52%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(45deg,  #d4ff60 49%,#B8E3EB 52%); /* Opera 11.10+ */
            background: -ms-linear-gradient(45deg,  #d4ff60 49%,#B8E3EB 52%); /* IE10+ */
            background: linear-gradient(45deg,  #d4ff60 49%,#B8E3EB 52%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4ff60', endColorstr='#B8E3EB',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
          }
        }

        .pay-period-end-date {
          span {
            background: #B8E3EB;
          }
        }
      }
    }
  }
}

/**
  --- Accrual History Page ---
*/

#detail-acc-history-table, #accrual-usage-details-table {
  width: 100%;
  thead {
    tr {
      border-bottom: 1px solid #ddd;
      th {
        border-right: 1px solid #ddd;
        padding: .3em 0;
      }
      &:last-of-type {
        border-bottom: 1px solid @teal;
      }
    }
  }
  tbody {
    tr {
      &:nth-child(even) {
        background: fade(#333, 5%);
      }
      td {
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;
        text-align: center;
        padding: .4em 0;
      }
    }
  }
}

/**
  --- Manage Employee Records Page ---
*/

table.approve-attendance-rec-table {
  tbody {
    td {
      padding: .5em;
    }
  }
}

.small-employee-profile-pic {
  .image-size(30px);
  background-image: url("http://strangebeaver.com/wp-content/uploads/2011/01/fb/16.jpg");
}





