/*! main */
@import "lesshat";
@import "./common/include";

/** Sizes */
@nav-width: 225px;
@docked-nav-width: 50px;
@profile-tab-width: 220px;

.highlight-eee {
  background: #eee;
  cursor: pointer;
}

/** --- Defaults --- */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  background: #f1f1f1;
  height: 100%;
  .open-sans;
}

body {
  overflow-y: scroll;
}

a:hover, a:active, a:focus {
  outline: 0 !important;
  border: none;
}

ul {
  list-style: none;
}

ol.horizontal, ul.horizontal {
  li {
    display: inline-block;
  }
}

label {
  color: #111;
  .font-weight-light;
}

input[type="text"], input[type="password"], input[type="number"] {
  border: 1px solid #ccc;
  outline: 0;
  background: #fafafa;
  padding: .3em;
  &.error {
    border-color: @dark-red;
  }
  &:focus {
    border-color: #999;
  }
}

input[type="button"].submit-button {
  .styled-button(@green, white);
}

input[type="button"].reject-button {
  .styled-button(@redorange, white);
}

input[type="button"].neutral-button {
  .styled-button(@teal, white);
}

.styled-button(@bgColor, @textColor) {
  padding: 5px 10px;
  background: @bgColor;
  color: @textColor;
  .font-weight-bold;
  border-style: none none solid none;
  border-width: 2px;
  border-color: darken(@bgColor, 10%);

  &.inactive, &[disabled="disabled"] {
    background: none;
    color: #333;
    &:hover {
      background: #eee;
    }
  }

  &:hover {
    background: saturate(@bgColor, 20%);
  }
}

/** Remove the number spinners in chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1, h2 {
  .font-weight-normal;
}

h1 {
  color: #333;
}

hr {
  outline: 0;
  border-width: 1px;
  border-color: #ccc;
  border-style: solid none none none;
}

button {
  border: 1px solid #aaa;
  background: #eee;
  .box-shadow(0px, 0px, 1px, #ddd);
  padding: 2px;
  &:hover {
    background: #f9f9f9;
    .box-shadow(0px, 0px, 2px, #fff);
    .transition-duration(.5s);
  }
}

select {
  padding: .3em .5em;
  background: white;
  border: 1px solid #999;
}

textarea {
  border: 1px solid #999;
}

a {
  color: teal;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    color: darken(teal, 10%);
  }
}

/** --- Utilities --- */

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.clearfix {
  clear: both;
}

.hidden {
  display: none;
}

.bold-text {
  padding: 10px;
  margin: 0;
  font-weight: 600;
}

.info-text {
  background: @teal;
  color: white;
  .bold-text;
}

.warning-text {
  background: @orange;
  color: white;
  .bold-text;
}

.error-text {
  background: @dark-red;
  color: white;
  .bold-text;
}

.success-text {
  background: @olive;
  color: white;
  .bold-text;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.padding-10 {
  padding: 10px;
}

/** --- Icons --- */

.close-red {
  .icon-image('20px-e74c3c', 'cross.png');
  .image-size(20px);
  cursor: pointer;

  &:hover {
    .icon-image('20px-ff5544', 'cross.png');
  }
}

/** --- Tables --- */

table.simple-table {
  width: 100%;
  text-align: left;
  thead {
    tr {
      border-bottom: 1px solid #ddd;
      th {
        padding: 5px;
      }
    }
  }
  tbody {
    tr {
      &:nth-child(odd) {
        background: #fafafa;
      }
      td {
        padding: 5px;
      }
    }
  }
}

/** --- Main Structure --- */

#wrapper {
  height: 100%;
}

.view-animate-container {
  margin: 0 0 20px 270px;
  width: 880px;

  @media print {
    margin: 0 0 20px 0;
  }
}

/** --- Home Page --- */

.ess-top-header {
  position: fixed;
  width: 100%;
  background: #fafafa;
  box-shadow: 0 1px 1px #ccc;
  //background: #3d3d3d;
  //border-bottom: 1px solid #222;
  height:45px;
  z-index: 100;
  color: white;
  overflow: hidden;

  .fixed-width-header {
    width: 1150px;
    margin: auto;
    position: relative;
    top: 2px;

    .left-header-area {
      display: inline-block;
      .nysslogo {
        .nysslogo(35px);
        float: left;
        margin-top: 2px;
        margin-left: 10px;
      }
      .nysslogo-text-container {
        padding: 0;
        margin-top: 0;
        display: inline-block;
        .nysslogo-text {
          .font-weight-light;
          color: #333;
          font-size: 1.6em;
          line-height: 40px;
          margin-left: 10px;
          .highlight {
            .font-weight-normal;
          }
        }
      }
      .top-nav-list {
        padding: 0;
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 20px;
        li {
          display: inline;
          line-height:40px;
          padding: 10px 20px;
          cursor: pointer;
          &.active {
            font-weight: 600;
          }
          &.teal {
            &.active {
              background: fade(@light-teal, 40%);
            }
            &:hover {
              background: fade(@light-teal, 20%);
            }
          }
          &.orange {
            &.active {
              background: fade(@orange, 40%);
            }
            &:hover {
              background: fade(@orange, 20%);
            }
          }
          .nav-icon {
            margin-right:5px;
            vertical-align: middle;
            height: 16px;
            position: relative;
            top: -1px;
            display: none;    /** Hidden for now.. */
          }
          a {
            color: rgb(66, 81, 81);
            font-size: 1.1em;
            &:hover {
              color: teal;
            }
          }
        }
      }
    }

    .right-header-area {
      display: inline-block;
      vertical-align: top;
      position: absolute;
      right: 0;
      #logoutSection {
        float:left;
        font-size: 1.1em;
        &:hover {
          background: #ddd;
          a .logout-icon {
            .transform(rotateY(-40deg));
          }
        }
        a {
          padding: 11px;
          display: block;
          text-decoration: none !important;
          color: #333;
          .logout-icon {
            .transform-origin(0 0);
            .transition(.3s);
            margin-right: 5px;
            float: left;
            .icon-image('20px-ffffff', 'logout.png');
            .image-size(20px);
          }
        }
      }
    }
  }
}

/** Profile Square */
.profile-square(@size:40px) {
  width: @size;
  height: @size;
}

/** --- Left Navigation ---  */

.left-nav {

  @media print {
    display: none;
  }

  background:#fafafa;
  border: 1px solid #f1f1f1;
  width:250px;
  position: fixed;
  height: auto;
  padding-bottom: 20px;
  .border-radius(0 0 0 2px);

  .user-heading {
    margin-left: 20px;
    color: #666;
  }

  .main-topic {
    color: #333;
    margin-left: 20px;
    width: 200px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    padding: 5px 5px 5px 20px;
    &.sub-topic.active {
      border-left: 4px solid teal;
      padding-left: 16px;
      background: #F4F4F4;
      a {
        .font-weight-bold;
        color: darken(teal, 10%);
      }
    }
  }
}

.content-wrapper {
  padding-top: 70px;
  padding-bottom: 40px;
  width: 1150px;
  margin: auto;
  min-height: 100%;
}

.section-title-container {
  &.teal {
    background: darken(@teal, 5%);
  }
  &.orange {
    background: darken(@orange, 10%);
  }
  .border-radius(2px 0 0 0);
  color: #eee;
  font-size: 1.1em;
  margin: 0;
  padding: 10px 15px;
  .font-weight-bold;
}

.content-container {
  background: #fefefe;
  position: relative;
  .box-shadow(0px 1px 2px #aaa);
  margin-top: 20px;

  &.no-top-margin {
    margin-top: 0;
  }

  h1 {
    font-size:1.1em;
    margin:0;
    text-align: center;
    padding: 4px 10px;
    border-width: 1px;
    border-style: none none solid none;
    //background: rgb(89, 130, 131);
    color: black;
    border-color: fade(@teal, 25%);
    line-height: 40px;
    .font-weight-bold;

    &.olive {
      border-color: @green;
    }
    &.orange {
      border-color: @orange;
    }
  }

  &.dual {
    overflow: hidden; //fixes 0 container height issue
    div, section {
      &.left-container, &.right-container {
        float:left;
        width: 400px;
        padding-bottom: 10px;
      }
    }
  }
}

.content-controls {
  margin-top: 0;
  .box-shadow(none);
  text-align: center;

  p {
    .font-weight-bold;
    color: @teal;
  }

  .content-info {
    border-bottom: none;
  }
}

.content-info {
  margin-top: 0;
  padding: 10px;
  color: #222;
  text-align: center;
  border-bottom: 1px solid fade(@teal, 25%);
  &.no-bottom-margin {
    margin-bottom: 0;
    border-bottom: none;
  }
}

/** --- Time Record Entry Page --- */

table#timeRecordTable {
  thead {
    background: white;
    tr {
      th {
        width: 65px;
      }
    }
  }

  tbody {
    tr {
      height: 32px;

      &.time-record-row {
        td {
          &:nth-child(1) {
            width: 150px;
            border-right: 1px solid #ccc;
          }
        }
      }

      &.time-totals-row {
        border-top: 2px solid teal;
        td {
          &:first-child {
            .font-weight-bold;
          }
          &:last-child {
            font-size: 1.1em;
            .font-weight-bold;
          }
        }
      }

      &.weekend {
        background: #f0f0f0;
      }

      td {
        text-align: center;
        border-right: 1px solid #dedede;
        input[type="text"], input[type="number"] {
          width: 55px;
          height: 32px;
          font-size: 1.1em;
          text-align: center;
          border: 0;
          background: none;
        }

        &.today {
          border-left: 3px solid @green;
        }
      }
    }
  }
}

#record-selection-container {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid fade(@teal, 55%);
  table {
    text-align: center;
    width: 90%;
    margin: auto;
    tr {
      &.active {
        background: #e7e9f6;
      }
    }
    th {
      border-bottom: 1px solid #ccc;
    }
    th, td {
      padding: 5px;
    }
  }
}

/** --- Accruals --- */

.sick, .personal, .vacation, .misc {
  color: white;
}

.sick {
  background: #d19525;
  border-color: #d19525;
}

.personal {
  background: @teal;
  border-color: @teal;
}

.vacation {
  background: #799933;
  border-color: #799933;
}

.misc {
  background: #e64727;
  border-color: #e64727;
}

.accrual-hours-container {
  margin: auto;
  text-align: center;
  padding: 0 20px;
}

.accrual-component {
  display: block;
  float: left;
  text-align: center;

  .captioned-hour-square {
    width: 150px;
    margin: 5px auto;
    padding: 0 3px;

    .hours-caption {
      font-size: 1em;
      line-height: 20px;
      padding: .2em;
      .font-weight-bold;
    }

    .hours-display {
      font-size: 1.2em;
      background: white;
      .font-weight-bold;
      line-height: 30px;
      font-weight: 600;
      color: @navy;
      border: 1px solid #ddd;
      border-top-style: none;
      .border-radius(0 0 2px 2px);

      &.sick {
        border-color: #d19525;
      }

      &.personal {
        border-color: @teal;
      }

      &.vacation {
        border-color: #799933;
      }
    }

    .ytd-hours {
      border-right:1px solid #ddd;
      width:110px;
      display:inline-block;
    }

  }

  .hour-label {
    color: #333;
    padding: 0px;
    margin: 10px auto;
    font-size: 1em;
    .font-weight-normal;
  }
}

#remarksRecordContainer {
  float: left;

  label {
    .font-weight-bold;
    margin: 0 10px 0 10px;
    line-height: 55px;
  }
  #remarksTextArea {
    margin: 5px 0;
    height: 45px;
    width: 450px;
    border: 1px solid #ccc;
  }
}

#saveRecordContainer {
  padding: 10px;
  background: #f9f9f9;
  input[type="button"] {
    margin-top: 10px;
    width: 8.5em;
  }
}

/*
  --- Attendance History Page ---
*/

.attendance-listing-table {
  tbody {
    tr {
      border-bottom: 1px solid #eee !important;
      &:hover {
        background: fade(@teal, 5%);
      }
      &:nth-child(even) {
        background: fade(#333, 5%);
      }
      td {
        padding: .5em;
        border: 0;
        .action-link {
          font-size: .9em;
        }
      }
    }
  }
}

.record-detail-modal {
  max-width: 65em;
  max-height: 41.4em;
  padding: 0.4em;
}

table.attendance-entry-sub-table {
  width:100%;
  font-size:1em;
  border-left:1px solid #ddd;
  border-bottom: 1px solid #ddd;
  thead {
    tr {
      th.hour-col {
        width: 5em;
      }
    }
  }
  tbody {
    tr {
      &:nth-child(odd) {
        background: fade(#333, 5%);
      }
      border-bottom: none !important;
      td {
        padding: .4em !important;
        border-right: 1px solid #ddd;
      }
      &.time-totals-row {
        border-top: 2px solid teal;
      }
    }
  }
  &.small-text {
    tbody {
      tr {
        td {
          font-size: 0.9em !important;
        }
      }
    }
  }
}


/*
  --- Request Time Off Page ---
*/

.timeoff-request-accrual-container {
  width: 600px;
  text-align: center;
  margin: auto;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;

  .accrual-section-title {
    color: #333;
  }

  .accrual-section {
    margin-top: 10px;
    .accrual-component {
      width: 100px;
    }
  }
}

.timeoff-request-form-container {
  width: 400px;
  display: inline-block;
  vertical-align: top;

  .label-container, .input-container {
    display: inline-block;
    margin-bottom:10px;
  }

  .label-container {
    width: 90px;
    padding-right: 20px;
    text-align: right;
  }

  .input-container {
    width: 300px;

    .date-input {
      width: 220px;
      background: url(../../img/20px-999999/calendar.png);
      background-repeat: no-repeat;
      background-position: 195px 2px;
      background-size: 18px;
    }
  }

  #number-hours-requested {
    width: 40px;
  }

  #reason-textarea {
    resize: none;
    width:290px;
    padding: 5px;
    height: 67px;
  }
}

/**
  --- View Pay Period Calendar Page ---
*/

.pay-period-cal-container {
  .legend-container {
    color:#777;

    .legend-block {
      margin-left:20px;
      display:inline-block;
      width:25px;
      height:20px;
      margin-right:10px;
    }
  }

  .pay-period-cal {
    width: 730px;
    margin: auto;

    .pay-period-month {
      display: inline-block;
      margin: 10px;

      .ui-datepicker {
        .box-shadow(none);

        .ui-datepicker-month {
          font-weight: bold;
        }

        .ui-datepicker-current-day {
          background: none;
        }

        /** Highlighted dates */

        .current-date {
          span {
            .font-weight-bold;
            border: 2px solid @redorange;
          }
        }
        .weekend-date {
          span {
            color: #aaa;
          }
        }

        .holiday-date {
          span {
            background: #d4ff60;
          }
        }

        .pay-period-end-date {
          span {
            background: #B8E3EB;
          }
        }

        .holiday-date.pay-period-end-date {
          span {
            background: #d4ff60; /* Old browsers */
            background: -moz-linear-gradient(45deg,  #d4ff60 49%, #B8E3EB 52%); /* FF3.6+ */
            background: -webkit-gradient(linear, left bottom, right top, color-stop(49%,#d4ff60), color-stop(52%,#B8E3EB)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(45deg,  #d4ff60 49%,#B8E3EB 52%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(45deg,  #d4ff60 49%,#B8E3EB 52%); /* Opera 11.10+ */
            background: -ms-linear-gradient(45deg,  #d4ff60 49%,#B8E3EB 52%); /* IE10+ */
            background: linear-gradient(45deg,  #d4ff60 49%,#B8E3EB 52%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4ff60', endColorstr='#B8E3EB',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
          }
        }
      }
    }
  }
}

/**
  --- Accrual History Page ---
*/

.accruals-table, .detail-acc-history-table, #accrual-usage-details-table {
  width: 100%;
  thead {
    background: white;
    tr {
      border: 0;
      th {
        border: 0;
        padding: .3em 0;
      }
      &:last-of-type {
        border-bottom: 1px solid @teal;
      }
    }
  }
  tbody {
    tr {
      &:nth-child(even) {
        background: fade(#333, 5%);
      }
      &.highlighted {
        border: 1px solid @teal;
        border-left-width: 3px;
      }
      td {
        border: 0;
        text-align: center;
        padding: .4em 0;
      }
    }
  }
}

/**
  --- Manage Employee Records Page ---
*/

table.approve-attendance-rec-table {
  tbody {
    td {
      padding: .5em;
    }
  }
}

.small-employee-profile-pic {
  .image-size(30px);
  background-image: url("http://strangebeaver.com/wp-content/uploads/2011/01/fb/16.jpg");
}

#review-records-modal {
  #record-selection-pane {
    display:inline-block;
    height:515px;
    width:400px;
    margin:0;
    vertical-align: top;
    border-right: 1px solid #ccc;
    background: #f5f5f5;

    #record-selection-table {
      background:white;
      tbody {
        tr {
          &:hover {
            background: rgba(255, 255, 182, 0.77);
            cursor: pointer;
          }
          &.active {
            background: rgb(255, 255, 182);
          }
          &.approved {
            background:rgb(207, 252, 158);
          }
          &.rejected {
            background: @redorange;
          }

          td {
            &.name-column {
              text-align:left;
            }
          }
        }
      }
    }
  }

  #record-details-view {
    display: inline-block;
    width: 670px;
    margin: 0;

    #remarks-container {
      padding: .3em;
      text-align: center;
    }

    #action-container {
      text-align: center;
      margin: 0.4em 0;
      background: #f1f1f1;
      padding: .5em;
    }
  }

  .pane-title {
    text-align: center;
    margin: 0;
    padding: .4em;
    font-weight: 600;
    background: white;
  }
}





