/** Color Palette */

@dark-red: #B90504;
@light-teal: #4196A7;
@teal: #006B80;
@green: #799933;
@navy: #0e4e5a;
@orange: #d19525;
@redorange: #e64727;
@blue: #104042;
@olive: #808d0a;
@highlight: #ffeeb6;
